<div class="jumbotron"> 
<div class="container">

<span>
 <a routerLink="/topic/{{topic_id}}" routerLinkActive="active" class="backButton left"><-Back</a>
 <span class="grey-theme">
    <mat-progress-bar  color="accent" class="lesson-progress" *ngIf="question_num > 0" mode=determinate value={{complete_percent}} ></mat-progress-bar>
    <label *ngIf="question_num > 0" style="display: flex; justify-content: center;">{{correct_answers}}/{{question_num}}</label> 
 </span>
<div class="text-center">
    <div *ngIf="question !== null">
        <app-question 
            [question]='question' 
            (onAnswered)="checkAnswer($event)"
        ></app-question>
    </div>
    <div *ngIf="question === null">
        <div *ngIf="initial_loading == 1">
            <h2 class="question">Loading....!</h2>
        </div>
        <div *ngIf="initial_loading == 0 && lesson_id != -1">
            <h2 class="subtitle">Congratulations!</h2>
            <h3 class="question">You have finished this lesson.</h3>
            <a
                class="button-container"
                routerLink="/topic/{{topic_id}}/lesson/{{next}}"
                routerLinkActive="active"
                *ngIf="next != 0">
                <button
                    mat-raised-button
                    style="margin: 16px; color: #000; background-color: #f5f5f5;"
                    class="button moving-forward-button">
                    <mat-icon>done all</mat-icon>
                    <span>Go to next lesson</span>
                </button>
            </a>
            <a
                class="button-container"
                routerLink="/topic/{{topic_id}}"
                routerLinkActive="active"
                *ngIf="next == 0">
                <button
                    mat-raised-button
                    class="button"
                    style="margin: 16px; color: #000; background-color: #f5f5f5;">
                    <mat-icon>done all</mat-icon>
                    <span>Go back to topic</span>
                </button>
            </a>
        </div>
        <div *ngIf="initial_loading == 0 && lesson_id == -1">
            <h2 class="subtitle">Congratulations!</h2>
            <h3 class="question">You have finished this topic.</h3>
            <a
                class="button-container"
                routerLink="/topic/{{next}}"
                routerLinkActive="active"
                *ngIf="next != 0">
                <button
                    mat-raised-button
                    style="margin: 16px; color: #000; background-color: #f5f5f5;"
                    class="button moving-forward-button">
                    <mat-icon>done all</mat-icon>
                    <span>Go to next topic</span>
                </button>
            </a>
        </div>
    </div>
</div>   
</span>

</div>
</div>