<!-- <h2 mat-dialog-title [draggable] dragHandle=".mat-dialog-container" dragTarget=".mat-dialog-container" class="subtitle hide">Test Report!</h2> -->
<mat-dialog-content class="dialog-content" id="dialog-content">
    <div class="subtitle text-center">{{test.name}}: report for attempt #{{test.attempt_no}}</div>
    <h4 *ngIf="test.mark">
        Mark:
        {{(test.mark * 100).toFixed(0)}}%
        <span *ngIf="test.questions_count">
            ({{(test.mark * test.questions_count).toFixed(0)}}/{{test.questions_count}})
        </span>
    </h4>
    <div>
        <div *ngFor="let level of test.details" class="level-details d-flex flex-column">
            <div>Level: <strong>{{level.title }}</strong></div>
            <div>
                Mark:
                <strong>
                    {{(level.mark * 100).toFixed(0)}}%
                    <span *ngIf="level.total">
                        ({{level.correct}}/{{level.total}})
                    </span>
                </strong>
            </div>
            <div *ngFor="let unit of level.units" class="level-units d-flex flex-column">
                <div>Unit: <strong>{{unit.title }}</strong></div>
                <div>
                    Mark:
                    <strong>
                        {{(unit.mark * 100).toFixed(0)}}%
                        <span *ngIf="unit.total">
                            ({{unit.correct}}/{{unit.total}})
                        </span>
                    </strong>
                </div>
                <div *ngFor="let topic of unit.topics" class="unit-topics d-flex flex-column">
                    <div>Topic: <strong>{{topic.title }}</strong></div>
                    <div>
                        Mark:
                        <strong>
                            {{(topic.mark * 100).toFixed(0)}}%
                            <span *ngIf="topic.total">
                                ({{topic.correct}}/{{topic.total}})
                            </span>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="buttons-container">
    <button mat-button [mat-dialog-close]="false" class="button button-white" type="button">Close</button>
</mat-dialog-actions>
