@import '../../../../../../../colors';

.dialog-title {
	height: 15%;
	overflow: hidden;
}

.dialog-content {
	margin: 0;
	padding: 0;
	height: 65%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.text {
		height: 80%;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

.buttons-container {
	height: 20%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0;
	margin: 0;
	.button {
		max-width: 47%;
		padding: 0;
		margin: 0;
	}
	.send-button {
		background-color: #31698a;
	}
	.cancel-button {
		background-color: #6dc066 !important;
	}
}

@media (max-height: 650px) { 
	.dialog-title {
		height: 33%;
	}
	.dialog-content {
		height: 33%;
	}
	.buttons-container { 
		height: 34%;
	}
}
