<h2 mat-dialog-title [draggable] dragHandle=".mat-dialog-container" dragTarget=".mat-dialog-container" class="subtitle">Write your feedback here</h2>
<mat-dialog-content>
	<mat-form-field class='text'>
    	<textarea matInput [(ngModel)]="feedback"></textarea>
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="buttons-container">
    <button mat-button [mat-dialog-close]="{text: feedback, question_id: question_id}" class='button completion-button send-button'>Send</button>
    <button mat-button [mat-dialog-close]="false" class='button cancel-button'>Cancel</button>
</mat-dialog-actions>