<!-- <h2 mat-dialog-title [draggable] dragHandle=".mat-dialog-container" dragTarget=".mat-dialog-container" class="subtitle hide">Email Class!</h2> -->
<mat-dialog-content class="dialog-content" id="dialog-content">
    <div class="subtitle text-center">Email to students (class {{class.name}})</div>
    <div class="form-group">
        <label for="subject">Subject:</label>
        <input name="subject" id="subject" [(ngModel)]="mail.subject" required class="form-control"/>
    </div>
    <div class="form-group">
        <label for="body">Body:</label>
        <ckeditor id="body" [editor]="editor" [(ngModel)]="mail.body" class="body-input"></ckeditor>
    </div>
    <div class="form-group">
        <input name="for_all_students" [(ngModel)]="mail.for_all_students" type="checkbox" />
        For all students
    </div>
</mat-dialog-content>
<mat-dialog-actions class="buttons-container dialog-buttons-container">
    <button mat-button [mat-dialog-close]="false" class='button' type="button">Close</button>
    <button mat-button [mat-dialog-close]="mail" class='button moving-forward-button continue-button' type="button" [disabled]="!mail.subject || !mail.body">Send</button>
</mat-dialog-actions>

