.order-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.order-item {
  background-color: rgba(17, 17, 17, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  width: 80%;
  line-height: 35px;
  margin: 4px;
  color: #fff;
}

.radio-button{
  text-align: left;
}

.input {
  text-align: center;
}

#continue-button {
  margin: 8px 0 0 0;
}