<a routerLink="/" routerLinkActive="active" class="backButton left"><-Back</a>
<div class="text-center">
    <h2>{{topicTree.title}}</h2>
    <div ng-if="topicTree.lessons.length">
        <div *ngFor="let lesson of topicTree.lessons; let levelIndex = index" class="arrowRowContainer">
            <div class="arrowButtonContainer" [ngClass]="lesson.status == 1 ? 'greenout': (lesson.status == 2) ? 'yellowout' : 'redout'">
                <a *ngIf="lesson.status == 1 || lesson.status == 2" routerLink="/topic/{{topicTree.id}}/lesson/{{lesson.id}}" routerLinkActive="active">
                    <div class="arrow">
                        <span>{{lesson.title}}</span>
                    </div>
                </a>
                <div *ngIf="lesson.status == 0" class="arrow">
                    <span>{{lesson.title}}</span>
                </div>
            </div>
        </div>
    </div>
</div>