vendor/
.*
!.env.example
!.gitignore
!.htaccess

jwt.php
gizmo.code-workspace

# Temporary files
temp/

# Laravel caching
laravel/bootstrap/cache/packages.php
laravel/bootstrap/cache/services.php
laravel/storage/framework/cache/

