<a routerLink="/welcome" routerLinkActive="active" class="backButton left"><-Back Home</a>

<div *ngIf='!message' class='container'>
  <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && sendEmail()" class="grey-theme">
    <mat-card>
      <mat-card-title>
        <mat-icon>vpn_key</mat-icon>
        <span>Forgot Password?</span>
      </mat-card-title>
      <mat-card-content>
        <mat-input-container>
          <input matInput
            [(ngModel)]="email"
            name="email"
            pattern="^\S+@\S+$"
            required="required"
            placeholder="Email"
            #emailField="ngModel" />
        </mat-input-container>
        <div class="alert alert-danger" *ngIf="(f.submitted && !emailField.valid) || emailNotFound">
        	<mat-icon>warning</mat-icon>
         	{{error}}
    	  </div>
      </mat-card-content>
      <mat-card-actions>
      <button *ngIf="!waiting"
        mat-raised-button
        type="submit" color="primary">
        <span>Confirm</span>
      </button>
      <button *ngIf="waiting"
        mat-raised-button disabled
        type="submit" color="primary">
        <span>Confirm</span>
      </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

<div *ngIf='message' class='container grey-theme'>
    <mat-card>
      <mat-card-title>
        <mat-icon>mail</mat-icon>
        <span class="text-center">We sent you an email with password reset link.</span>
      </mat-card-title>
      <mat-card-actions>
      <a mat-raised-button color="primary" class="link" 
      	[routerLink]="['/']" routerLinkActive="link-active">
        Ok
      </a>
      </mat-card-actions>
    </mat-card>
</div>