<div class="jumbotron"> 
<div class="container">

<a routerLink="/" routerLinkActive="active" class="backButton left"><-Back</a>
<div class="text-center">
    <h2 class="title">{{topicTree.title}}</h2>
    <div *ngIf="topicTree.lessons && topicTree.lessons.length">
        <div *ngFor="let lesson of topicTree.lessons; let levelIndex = 'index'" class="arrowRowContainer">
            <div class="arrowButtonContainer" [ngClass]="lesson.status == 1 ? 'greenout': (lesson.status == 2) ? 'yellowout' : 'redout'">
                <a *ngIf="lesson.status == 1 || lesson.status == 2" routerLink="/topic/{{topicTree.id}}/lesson/{{lesson.id}}" routerLinkActive="active">
                    <div class="arrow">
                        <span class="subtitle">{{lesson.title}}</span>
                    </div>
                </a>
                <div *ngIf="lesson.status == 0" class="arrow">
                    <span class="subtitle">{{lesson.title}}</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="(topicTree.lessons == undefined || !topicTree.lessons.length) && topicTree.next_topic_id != 0">
        <h3 class="answer">More lessons comming soon, please continue with next topic!</h3>
    </div>
    <div *ngIf="(topicTree.lessons == undefined || !topicTree.lessons.length) && topicTree.next_topic_id == 0">
        <h3 class="answer">More lessons comming soon!</h3>
    </div>
    <a
        class="button-container"
        routerLink="/topic/{{topicTree.id}}/lesson/testout"
        routerLinkActive="active"
        *ngIf="topicTree.lessons && topicTree.lessons.length && !topicDone">
        <button mat-raised-button class="button testout-button completion-button">
            <mat-icon>update</mat-icon>
            <span>Test out to finish topic</span>
        </button>
    </a>
    <a
        class="button-container"
        routerLink="/topic/{{topicTree.next_topic_id}}"
        routerLinkActive="active"
        *ngIf="(topicTree.lessons == undefined || !topicTree.lessons.length || topicDone) && topicTree.next_topic_id != 0">
        <button mat-raised-button class="button moving-forward-button next-topic-button">
            <mat-icon>done all</mat-icon>
            <span>Go to next topic</span>
        </button>
    </a>
</div>

</div>
</div>