@import '../../../../colors';

.topic-container {
	padding: 0;
	margin: 0;
	margin-top: 60px;
}

.button {
	font-size: 32px !important;
	margin: 16px; 
	padding: 0;
}
.button-container {
	display: block;
}

.back {
	color: $white;
	font-size: 14px;
	background-color: transparent;
  	display: inline-block;
	padding: 0;
	margin: 0;
  	position: fixed;
  	top: 22px;
  	left: 72px;
  	z-index: 10;
}

.title {
	color: $white;
	font-size: 42px;
}

.lesson-title {
	margin-top: 8px;
	color: $white;
	font-size: 26px !important;
}

.lessons-container {
	display: inline-flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.lesson {
	padding: 0;
	margin: 4px 6px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}

.topic-img {
	width: 15vw;
	height: 15vw;
}

.lesson a:hover {
	text-decoration: none;
	.topic-img {
		transform: scale(1.3);
	}
	.lesson-title {
		transform: translateY(12px) scale(1.3);
	}
}

@media screen and (max-width: 1024px) { 
	.back {
		top: 24px;
  		left: 64px;
		font-size: 10px;
	}
	.title {
		font-size: 28px;
	}
	.lesson-title {
		font-size: 18px !important;
	}
	.button {
		font-size: 22px !important;
	}
}

@media screen and (max-width: 768px) { 
	.title {
		font-size: 19.5px;
	}
	.lesson-title {
		font-size: 12px !important;
	}
	.button {
		font-size: 16px !important;
	}
}