<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div *ngIf="showMenu">
                <md-toolbar color="primary">
                    <!-- This fills the remaining space of the current row -->
                    <span class="fill-remaining-space"></span>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>menu</mat-icon>
                    </button>
                </md-toolbar>
                <mat-menu #menu="matMenu">
                    <br />
                    <a mat-menu-item routerLink="home">Home</a>
                    <a mat-menu-item routerLink="home">Profile</a>
                    <a mat-menu-item routerLink="login">Logout</a>
                </mat-menu>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>