@import '../../../../../colors';

.dialog-content {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: block !important;
    width: 100% !important;
}
.button {
    background: #ffffff !important;
    color: $navy !important;
}

td {
    word-wrap: break-word;
    max-width: 240px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}
