.profile-application {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 60px auto 0;
  width: 80vw;
}

.app-title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  width: calc(100% - 70px);
}

.due-date {
  float: right;
  color: dimgrey;
}

mat-card {
  margin: 10px;
  padding: 15px;
  min-width: 250px;
  width: calc(100% - 20px);
}

mat-card:last-child {
  margin-bottom: 28px;
}

.title {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.toggle-button {
  margin: 16px 0;
  cursor: pointer;
  color: #666666;
}

mat-form-field {
  width: 100%;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 12px 0;
}

.app-img {
  width: 64px;
  height: 64px;
  background-size: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-repeat: no-repeat;
}

.applications-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  > * {
    min-width: 50%;
  }
}

.app-select-container {
  div:first-child {
    margin-right: 6px;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.date-container {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  line-height: 1.2;
}

@media screen and (max-width: 600px) {
  .profile-application {
    width: 100vw;
  }
  .applications-list {
    > * {
      min-width: 100%;
    }
  }
}
