<div class="profile-application">
  <mat-card *ngIf="!showCompletedApplications">
    <span class="title">Assignments To Do</span>
    <div class="applications-list" *ngIf="applications.length > 0">
      <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedAppId" vertical>
        <mat-button-toggle *ngFor="let application of applications" [value]="application.id" (click)="onChangeApplication(application.id)" >
          <div class="app-select-container">
            <div class="app-img" [style.background-image]="setIcon(application.icon)"></div>
            <div class="app-title">
              <strong>{{application.name}}</strong>
              <span *ngIf="application.due_date" class="due-date">Due Date: {{application.due_date}}</span>
            </div>
          </div>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div *ngIf="completedApplications.length > 0" class="toggle-button" (click)="this.showCompletedApplications = !this.showCompletedApplications" >
        See Completed Assignments
      </div>
    </div>
    <div *ngIf="applications.length < 1">
      <div class="subtitle text-center">
        You have no Assignments To Do!
      </div>
      <div class="button-container">
          <div *ngIf="completedApplications.length > 0" class="toggle-button" (click)="this.showCompletedApplications = !this.showCompletedApplications">
            See Completed Assignments
          </div>
          <a *ngIf="completedApplications.length < 1" mat-button class="button button-outline" routerLink="../my-classes" >Search for Class</a>
      </div>

    </div>
  </mat-card>

  <mat-card *ngIf="showCompletedApplications" >
    <span class="title">Completed Assignments</span>
    <div class="applications-list">
      <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedAppId" vertical>
        <mat-button-toggle *ngFor="let application of completedApplications" [value]="application.id" (click)="onChangeApplication(application.id)" >
          <div class="app-select-container">
            <div class="app-img" [style.background-image]="setIcon(application.icon)"></div>
            <div class="app-title">
              <strong>{{application.name}}</strong>
              <span *ngIf="application.due_date" class="due-date">Due Date: {{application.due_date}}</span>
            </div>
          </div>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div class="toggle-button" (click)="this.showCompletedApplications = !this.showCompletedApplications" >
        See Assignments To Do
      </div>
    </div>
  </mat-card>
</div>
