<a routerLink="/teacher/class" routerLinkActive="active" class="back">{{backLinkText}}</a>
<div class="students">
  <app-class-menu [classId]="classId" class="class-menu"></app-class-menu>
  <mat-card class="students-content">
    <div class="subtitle text-center">Students of {{class.name}}</div>
    <form novalidate #form="ngForm">
      <div class="table-responsive">
        <table matSort (matSortChange)="sortData($event)" class="table">
          <thead>
          <tr>
            <th mat-sort-header="email" scope="col">Email</th>
            <th mat-sort-header="name" scope="col">Name</th>
            <th mat-sort-header="assignments_finished_count" scope="col">Finished Assignments</th>
            <th mat-sort-header="assignments_past_due_count" scope="col">Past Due Assignments</th>
            <th></th>
            <th class="text-right">
              <button  class="button button-small button-outline" mat-button (click)="addStudent()">Add Student</button>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td colspan="7">
              <input matInput placeholder="Email" class="filter-item"
                     type="text" name="email" [(ngModel)]="email" [value]="" />
            </td>
          </tr>
          <tr *ngFor="let item of students | tableFilter: form.value" [class.not-registered]="!item.is_registered" [class.not-subscribed]="!item.is_subscribed">
            <td style="max-width: 260px;">{{item.email }}</td>
            <td style="max-width: 260px;">
              <span>{{item.name}} </span>
              <span *ngIf="item.first_name || item.last_name">({{item.first_name}} {{item.last_name}})</span></td>
            <td style="max-width: 60px;">{{item.assignments_finished_count }}</td>
            <td style="max-width: 60px;">{{item.assignments_past_due_count }}</td>
            <td style="max-width: 100px;">
              <span *ngIf="!item.is_registered">
                <span class="badge">Not Registered</span>
              </span>
              <span *ngIf="!item.is_subscribed">
                <span class="badge">Not Subscribed</span>
              </span>
            </td>
            <td style="max-width: 60px;">
              <div class="buttons-container" style="cursor: pointer">
                <div [class.disabled]="!item.is_registered || !item.is_subscribed" (click)="showAssignments(item)">
                  <i class="fa fa-info-circle"></i>
                </div>
                <div [class.disabled]="!item.is_subscribed" (click)="deleteStudent(item.id)">
                  <i class="fa fa-trash"></i>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
  </mat-card>
</div>
