<a routerLink="/teacher/class" routerLinkActive="active" class="back">{{backLinkText}}</a>
<div class="students">
  <app-class-menu [classId]="classId" class="class-menu"></app-class-menu>
  <mat-card class="students-content">
    <div class="subtitle text-center">Students of {{class.name}}</div>
    <form novalidate #form="ngForm">
      <div class="table-responsive">
        <table matSort (matSortChange)="sortData($event)" class="table">
          <thead>
          <tr>
            <th mat-sort-header="email" scope="col">Email</th>
            <th mat-sort-header="name" scope="col">Name</th>
            <th mat-sort-header="assignments_finished_count" scope="col">Finished Assignments</th>
            <th mat-sort-header="tests_finished_count" scope="col">Finished Tests</th>
            <th mat-sort-header="test_duration_multiply_by" scope="col">Test Duration Multiplier</th>
            <th mat-sort-header="created_at" scope="col">Registration Date</th>
            <th class="text-right" style="min-width: 154px">
              <button  class="button button-small button-outline" mat-button (click)="addStudents()">Add Students</button>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td colspan="7">
              <input matInput placeholder="Email" class="filter-item"
                     type="text" name="email" [(ngModel)]="email" [value]="" />
            </td>
          </tr>
          <tr *ngFor="let item of students | tableFilter: form.value" [class.not-registered]="!item.is_registered" [class.not-subscribed]="!item.is_subscribed">
            <td style="max-width: 260px;">{{item.email }}</td>
            <td style="max-width: 260px;">{{item.first_name}} {{item.last_name}}</td>
            <td style="max-width: 60px;">{{item.assignments_finished_count }}</td>
            <td style="max-width: 60px;">{{item.tests_finished_count }}</td>
            <td style="max-width: 72px !important;">
              <input type="number" min="0.1" step="0.1" name="test_duration_multiply_by" #testDurationMultiplyBy [value]="item.test_duration_multiply_by || 1" (change)="onTestDurationChanged(item, testDurationMultiplyBy.value)" class="form-control" style="max-width: 72px !important;" />
            </td>
            <td style="max-width: 100px;">
              <span *ngIf="item.is_registered">
                {{ item.created_at | date: 'h:mm a YYYY-MM-dd' }}
              </span>
              <span *ngIf="!item.is_registered">
                <span class="badge">Not Registered</span>
              </span>
              <span *ngIf="!item.is_subscribed">
                <span class="badge">Not Subscribed</span>
              </span>
            </td>
            <td class="text-right" style="min-width: 260px;">
              <button class="button button-small button-outline" mat-stroked-button type="button" [class.disabled]="!item.is_registered || !item.is_subscribed" (click)="showAssignments(item)" style="margin-right: 8px;">Assignments</button>
              <button class="button button-small button-danger" mat-stroked-button type="button" [class.disabled]="!item.is_subscribed" (click)="deleteStudent(item.id)">Remove</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
  </mat-card>
</div>
