<a routerLink="/teacher/class" routerLinkActive="active" class="back">{{backLinkText}}</a>
<div class="students">
  <app-class-menu [classId]="classId" class="class-menu"></app-class-menu>
  <mat-card class="students-content">
    <div class="subtitle text-center">Students of {{class.name}}</div>
    <form novalidate #form="ngForm">
      <div class="table-responsive">
        <table matSort (matSortChange)="sortData($event)" class="table">
          <thead>
          <tr>
            <th mat-sort-header="name" scope="col">Name</th>
            <th mat-sort-header="first_name" scope="col">First Name</th>
            <th mat-sort-header="last_name" scope="col">Last Name</th>
            <th mat-sort-header="email" scope="col">Email</th>
            <th mat-sort-header="assignments_finished_count" scope="col">Finished Assignments</th>
            <th mat-sort-header="assignments_past_due_count" scope="col">Past Due Assignments</th>
            <th class="text-right">
              <button  class="button button-small button-outline" mat-button (click)="addStudent()">Add Student</button>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <input matInput placeholder="Name" class="filter-item"
                     type="text" name="name" [(ngModel)]="name" [value]="" />
            </td>
            <td>
              <input matInput placeholder="First Name" class="filter-item"
                     type="text" name="first_name" [(ngModel)]="first_name" [value]="" />
            </td>
            <td>
              <input matInput placeholder="Last Name" class="filter-item"
                     type="text" name="last_name" [(ngModel)]="last_name" [value]="" />
            </td>
            <td>
              <input matInput placeholder="Email" class="filter-item"
                     type="text" name="email" [(ngModel)]="email" [value]="" />
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let item of students | tableFilter: form.value" style="cursor: pointer;">
            <td>{{item.name}}</td>
            <td>{{item.first_name }}</td>
            <td>{{item.last_name }}</td>
            <td>{{item.email }}</td>
            <td>{{item.assignments_finished_count }}</td>
            <td>{{item.assignments_past_due_count }}</td>
            <td>
              <div class="buttons-container">
                <div (click)="showAssignments(item)">
                  <i class="fa fa-info-circle"></i>
                </div>
                <div (click)="deleteStudent(item.id)">
                  <i class="fa fa-trash"></i>
                </div>
              </div>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
  </mat-card>
</div>
