@import '../../../../../colors';

.students {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin: 60px auto 0;
  width: 80vw;
  .students-content {
    margin-left: 220px;
  }
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    ::ng-deep .class-menu {
      width: calc(100% - 20px);
      max-width: calc(100% - 20px);
      min-width: calc(100% - 20px);
    }
    .students-content {
      margin-left: 0;
    }
  }
}

.title {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

mat-card {
  margin: 10px;
  padding: 15px;
  min-width: 250px;
  width: calc(100% - 20px);
}

mat-card:last-child {
  margin-bottom: 28px;
}

@media screen and (max-width: 600px) {
  .students {
    width: 100vw;
  }
}

.filter-item, .filter-item:focus {
  width: 100%;
  border: none;
  outline: none;
  overflow: visible;
}

td {
  word-wrap: break-word;
  max-width: 240px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}
