<div class="subtitle text-center">Assignments List</div>
<div class="table-responsive">
  <table matSort (matSortChange)="sortData($event)" class="table">
    <thead>
    <tr>
      <th scope="col">Icon</th>
      <th mat-sort-header="name" scope="col">Name</th>
      <th mat-sort-header="start_date" scope="col">Start Date</th>
      <th mat-sort-header="start_time" scope="col">Start Time</th>
      <th mat-sort-header="due_date" scope="col">Due Date</th>
      <th mat-sort-header="due_time" scope="col">Due Time</th>
      <th scope="col">Portion Completed</th>
      <th scope="col">Error Rate</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of assignments">
      <th scope="col" style="width: 40px;">
        <div class="app-img" style="width: 38px; height: 38px;" [style.background-image]="setIcon(item.icon)"></div>
      </th>
      <td>{{item.name}}</td>
      <td class="date-container">
        {{item.start_date || currentDate}}
      </td>
      <td class="date-container">
        {{item.start_time || '00:00'}}
      </td>
      <td class="date-container">
        {{item.due_date ? item.due_date : 'N/A' }}
      </td>
      <td class="date-container">
        <span *ngIf="item.due_date">{{item.due_time || '00:00'}}</span>
        <span *ngIf="!item.due_date">N/A</span>
      </td>
      <td>
        <span style="font-size: 0.8em;">{{(item.progress * item.students_count).toFixed(0)}}/{{item.students_count}}</span>
        <mat-progress-bar  mode="determinate" [value]="item.progress * 100"></mat-progress-bar>
      </td>
      <td>
        <span style="font-size: 0.8em;">{{(item.error_rate * 100).toFixed(1)}}%</span>
        <mat-progress-bar  mode="determinate" [value]="item.error_rate * 100"></mat-progress-bar>
      </td>
    </tr>
    </tbody>
  </table>
</div>
