<div class="applications">
  <mat-card>
    <div class="title">
      <span *ngIf="!showCompletedApplications">My Tests</span>
      <span *ngIf="showCompletedApplications">Finished Tests</span>
    </div>
    <div *ngIf="!showCompletedApplications" class="applications-list">
      <mat-button-toggle-group *ngIf="applications.length > 0" #group="matButtonToggleGroup" [value]="selectedAppId" vertical>
        <mat-button-toggle *ngFor="let test of applications" [value]="test.id" (click)="onChangeToDo(test)" [class.active-test]="test.in_progress">
          <div class="app-select-container" [class.disabled]="test.is_blocked">
            <div class="app-img" [style.background-image]="setIcon(test.icon)"></div>
            <div class="app-data">
              <span class="app-title">
                <strong>{{test.name}}</strong>
                <span *ngIf="test.class" class="app-class">{{test.class.name}}</span>
                <strong *ngIf="test.in_progress" class="app-class">in progress...</strong>
                <strong *ngIf="!test.in_progress" class="app-class">
                  <span *ngIf="test.total_questions_count">{{test.total_questions_count}} questions</span>
                  <span *ngIf="test.total_questions_count && test.duration"> / </span>
                  <span *ngIf="test.duration">{{test.duration}}</span>
                </strong>
                <strong *ngIf="test.attempts_remaining" class="app-class">
                  {{test.attempts_remaining + ' attempt' + (test.attempts_remaining > 1 ? 's' : '') + ' remaining' }}
                </strong>
              </span>
              <span class="app-date">
                <span *ngIf="test.is_blocked && test.start_at" class="due-date">Start At: {{test.start_at}}</span>
                <span *ngIf="test.due_at" class="due-date">Due At: {{test.due_at}}</span>
              </span>
            </div>
          </div>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div class="subtitle text-center" *ngIf="applications.length < 1">
        You have no Tests!
      </div>
      <div class="secret-test" style="margin-top: 12px;">
        <input id="password" name="password" placeholder="Write Password..." [(ngModel)]="password" class="form-control"/>
        <button *ngIf="password" mat-stroked-button class="button button-outline button-small" type="button" style="margin-top: 8px;" (click)="onStartSecretTest()">Start Secret Test</button>
      </div>
      <div *ngIf="completedApplications.length > 0" class="toggle-button" (click)="this.showCompletedApplications = !this.showCompletedApplications">
        See Finished Tests
      </div>
    </div>
    <div *ngIf="showCompletedApplications" class="applications-list">
      <mat-button-toggle-group #group="matButtonToggleGroup" vertical>
        <mat-button-toggle *ngFor="let test of completedApplications" [value]="test.id" (click)="onShowTestReport(test)">
          <div class="app-select-container completed">
            <div class="app-img" [style.background-image]="setIcon(test.icon)"></div>
            <div class="app-data">
              <span class="app-title">
                <strong>{{test.name}}</strong>
                <span *ngIf="test.class" class="app-class">{{test.class.name}}</span>
                <strong *ngIf="test.mark" class="app-class">Mark: {{(test.mark * 100).toFixed(0)}}%</strong>
                <strong *ngIf="test.attempt_no" class="app-class">Attempt #{{test.attempt_no}}</strong>
              </span>
              <div class="date-container">
                <span *ngIf="test.completed_at" class="due-date">
                  Finished At: {{test.completed_at}}
                </span>
                <button class="button button-small button-outline" mat-stroked-button type="button">Report</button>
              </div>
            </div>

          </div>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div class="toggle-button" (click)="this.showCompletedApplications = !this.showCompletedApplications" >
        See Available Tests
      </div>
    </div>
    <div class="options" (click)="openOptionsDialog()">
      <span class="material-icons">settings</span> Options
    </div>
  </mat-card>
</div>
