<a routerLink="/teacher/class" routerLinkActive="active" class="back">{{backLinkText}}</a>
<div class="dashboard">
  <app-class-menu [classId]="classId" class="class-menu"></app-class-menu>
  <div class="dashboard-content">
    <mat-card>
      <app-assignments-students-usage-chart [classId]="classId" [assignments]="assignments"></app-assignments-students-usage-chart>
    </mat-card>
    <mat-card>
      <app-class-assignments-list [classId]="classId" [assignments]="assignments"></app-class-assignments-list>
    </mat-card>
    <mat-card>
      <app-tests-students-usage-chart [classId]="classId" [tests]="tests"></app-tests-students-usage-chart>
    </mat-card>
    <mat-card>
      <app-class-tests-list [classId]="classId" [tests]="tests"></app-class-tests-list>
    </mat-card>
  </div>
</div>
