@import '../../../../../colors';

.menu {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  position: fixed;
  z-index: 10;
  a {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    margin-bottom: 8px;
    color: $navy;
    &:hover {
      box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
    ::ng-deep .mat-list-item-content {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 1024px) {
  .menu {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    position: static;
  }
}
