<mat-nav-list class="menu">
    <a mat-list-item routerLink="/researcher/class/{{classId}}/dashboard">Dashboard</a>
    <a mat-list-item routerLink="/researcher/class/{{classId}}/assignments">Assignments</a>
    <a mat-list-item routerLink="/researcher/class/{{classId}}/tests">Tests</a>
    <a mat-list-item routerLink="/researcher/class/{{classId}}/students">Students</a>
    <a mat-list-item routerLink="/researcher/class/{{classId}}/email">Email</a>
    <a mat-list-item routerLink="/researcher/class/{{classId}}/threads">Discussion</a>
</mat-nav-list>
