@import '../../../colors';

.topics {
	margin: 60px auto 0;
	padding: 0;
	width: 80vw;
}

.title {
	color: $white;
}

a:hover {
	text-decoration: none;
}

.level {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 10px;
	padding: 20px;
}

.level-title {
	margin: 28px 0 0 40px;
}

.unit {
	margin: 10px;
	padding: 10px;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.topics-container {
	display: inline-flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.topic {
	width: 120px !important;
	padding: 0;
	margin: 4px 6px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}

.topics-container a:active {
	.topic-img {
		transform: scale(1.3);
		transition-duration: 0.2s;
	}
	.topic-progress, div .topic-title {
		transform: translateY(16px) scale(1.3);
		transition-duration: 0.2s;
	}
}

.topic-title {
	word-break: break-word;
	max-width: 120px !important;
}

.topic-title, .topic-progress {
	padding: 0;
	margin: 0;
}

.arrow {
  position: absolute;
  top: 18px;
  right: 20px;
  border: solid $navy;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.unit-title {
	margin: 0;
	max-width: 84%;
}

.arrow, .unit-title {
	cursor: pointer;
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media screen and (max-width: 1024px) { 
    .topic, .topic-title {
		width: 110px !important;
	}
	.level-title {
		margin-left: 38px;
	}
	.arrow {
  		top: 14px;
  		right: 18px;
	}
}

@media screen and (max-width: 768px) { 
    .topics {
		width: calc(100% - 20px); 
	}
	.topic, .topic-title {
		width: 100px !important;
	}
	.level-title {
		margin-left: 36px;
	}
	.arrow {
  		top: 10px;
  		right: 16px;
	}
}

@media screen and (max-width: 370px) { 
    .level, .unit {
        margin: 6px !important;
        padding: 8px !important;
    }
    .unit:first-child {
    	margin-top: 0 !important;
    }
    .unit:last-child {
    	margin-bottom: 0 !important;
    }
    .topic {
    	margin: 4px !important;
    	padding: 4px !important;
    }
}