.level {
	margin: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #f3f3f3;
}

.level-title, .unit-title {
	display: flex;
	justify-content: center;
}

.level-title {
	font-weight: bold;
}

.unit {
	margin: 10px;
	width: 100%;
	background-color: #f9f9f9;
}

.topics-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.topic {
	margin: 10px;
	width: 120px;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.topic-title, .topic-progress, .topic-picture {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.topic-title, .topic-progress {
	text-align: center;
}