.level {
	margin: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	text-align: center;
	padding: 20px;
}

.unit-title {
	display: flex;
	justify-content: center;
}

.level-title {
	margin: 0;
	margin-left: 40px;
	margin-top: 28px;
}

.unit {
	margin: 10px;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	text-align: center;
}

.topics-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.topic {
	width: 120px !important;
	padding: 0;
	margin: 4px 6px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}

.topic-title, .topic-progress, .topic-picture {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.topic-title, .topic-progress {
	text-align: center;
}

@media screen and (max-width: 1024px) { 
    .topic {
		width: 110px;
	}
	.level-title {
		margin-left: 38px;
	}
}

@media screen and (max-width: 768px) { 
    .topic {
		width: 100px;
	}
	.level-title {
		margin-left: 36px;
	}
}