<div class="jumbotron">
<div class="container">

<div *ngIf="topicsTree.length" class="topics">
  <div *ngFor="let level of topicsTree; let levelIndex = 'index'" >
    <h3 class="level-title title">{{level.title}}</h3>
    <mat-card *ngIf="level.units.length" class="level">
      <mat-card class="unit" *ngFor="let unit of level.units; let unitIndex = 'index'">
        <h4 class="unit-title subtitle">{{unit.title}}</h4>
        <div class="topics-container">
          <div *ngFor="let topic of unit.topics; let topicIndex = 'index'" class="topic">
            <a [routerLink]="topic.status == 0 ? '' : '/topic/'+topic.id" routerLinkActive="active" [class.disabled]="topic.status == 0 ? true : null" class="topic-picture">

              <div *ngIf="topic.status == 0" class="topic-img locked" [style.background-image]="setTopicIcon(topic.icon_src)">
              </div>
              <div *ngIf="topic.status == 1" class="topic-img complete" [style.background-image]="setTopicIconComplete(topic.icon_src)">
              </div>
              <div *ngIf="topic.status == 2" class="topic-img normal" [style.background-image]="setTopicIcon(topic.icon_src)">
              </div>

            </a>
            <div class="topic-progress"> {{topic.progress.done}} of {{topic.progress.total}} done</div>
            <div>
              <div *ngIf="!topic.short_name" class="topic-title">{{topic.title}}</div>
              <div *ngIf="topic.short_name" class="topic-title">{{topic.short_name}}</div>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-card>
  </div>
</div>

</div>
</div>
