div { 
	min-height: 40px; 
}

.buttons-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.button {
	margin: 0 4px 12px 4px;
}

.continue-button {
	background-color: #fef65b;
}

.error-button {
	background-color: #ff4444;
}