<!-- <h2 mat-dialog-title class="subtitle">Incorrect :(</h2> -->
<mat-dialog-content class="dialog-content">
    <img src="./assets/images/popup_image_incorrect.svg" alt="Correct" class="popup-image">
    <div *ngIf="(answers.length == 1) && showAnswer" class="answer">
        Correct answer is: {{answers[0].value}}
    </div>
    <div *ngIf="(answers.length != 1) && showAnswer" class="answer">
        Correct answers are: 
        <ul>
            <li *ngFor="let answer of answers; let answerIndex = 'index'">
                {{answer.value}}
            </li>
        </ul>
    </div>
    <div *ngIf="explanation!=''" class="topic-progress">
        {{explanation}}
    </div>
</mat-dialog-content>
<mat-dialog-actions class="buttons-container">
    <button mat-button [mat-dialog-close]="false" class='button moving-forward-button continue-button'>Continue</button>
    <button mat-button [mat-dialog-close]="true" class='button error-button'>Report Error!</button>
</mat-dialog-actions>