<div class="profile-classes">
    <mat-card *ngIf="!addClass && myClasses.length > 0">
        <span class="title">My Classes</span>
        <div class="table-responsive">
            <table matSort (matSortChange)="sortMyClasses($event)" class="table">
                <thead>
                <tr>
                    <th mat-sort-header="name" scope="col">Class</th>
                    <th mat-sort-header="teacher" scope="col">Teacher</th>
                    <td class="text-right">
                        <button *ngIf="availableClasses.length > 0" mat-button class="button button-small button-outline" (click)="onAddClass()">Add Class</button>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of myClasses">
                    <td>{{item.name}}</td>
                    <td>{{item.teacher}}</td>
                    <td class="text-right">
                        <button class="button button-small button-outline" mat-stroked-button (click)="onUnsubscribe(item.id)">Unsubscribe</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </mat-card>
    <mat-card *ngIf="addClass || myClasses.length < 1">
        <span class="title">Select Class</span>
        <form novalidate #form="ngForm">
        <div class="table-responsive">
            <table matSort (matSortChange)="sortAvailableClasses($event)" class="table">
                <thead>
                <tr>
                    <th mat-sort-header="name" scope="col">Class</th>
                    <th mat-sort-header="teacher" scope="col">Teacher</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input matInput
                               name="name"
                               pattern="[a-zA-Z0-9]{2,255}"
                               placeholder="Search by Class Name"
                               [(ngModel)]="nameFilter"
                               class="filter-item" />
                    </td>
                    <td>
                        <input matInput
                               name="teacher"
                               pattern="[a-zA-Z0-9]{2,255}"
                               placeholder="Search by Teacher"
                               [(ngModel)]="teacherFilter"
                               class="filter-item" />
                    </td>
                    <td></td>
                </tr>
                <tr *ngFor="let item of availableClasses | tableFilter: form.value">
                    <td>{{item.name}}</td>
                    <td>{{item.teacher}}</td>
                    <td class="text-right">
                        <button class="button button-small button-outline" mat-stroked-button (click)="onSubscribe(item.id)">Subscribe</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </form>
        <div *ngIf="myClasses.length > 0" class="button-container">
            <button mat-button class="button button-white" (click)="addClass=false">Close</button>
        </div>
    </mat-card>
</div>
