@import '../../../../../../colors';

.title {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.overdue {
  background: rgba(255, 115, 115, 0.5);
  border-radius: 0;
  color: $navy;
}

.progress {
  border-radius: 0;
  color: $navy;
}

.completed {
  background: rgba(90, 193, 142, 0.5);
  border-radius: 0;
  color: $navy;
}

.assignment-table-row {
  width: 160px;
}
