<div class="back-button-container"><a routerLink="/welcome" routerLinkActive="active" class="back-button"><-Back Home</a></div>
<mat-card class="auth-container" *ngIf="isRoleSelected">
    <mat-card>
        <h2 class="title">Register</h2>
        <form name="form" (ngSubmit)="f.form.valid && password.value == repassword.value && register()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label for="username" class="required">Username</label>
                <input type="text" class="form-control answer" name="username" id="username" [(ngModel)]="model.username" #username="ngModel" required />
                <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="mb-1" for="first_name">
                            First Name
                        </label>
                        <input type="text" class="form-control answer" name="first_name" id="first_name" [(ngModel)]="model.first_name" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="mb-1" for="last_name">
                            Last Name
                        </label>
                        <input type="text" class="form-control answer" name="last_name" id="last_name" [(ngModel)]="model.last_name" />
                    </div>
                </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                <label for="email" class="required">Email</label>
                <input type="email" class="form-control answer" name="email" id="email" [(ngModel)]="model.email" #email="ngModel" required />
                <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label for="password" class="required">Password</label>
                <input type="password" class="form-control answer" name="password" id="password" [(ngModel)]="model.password" #password="ngModel" required />
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': (f.submitted && !repassword.valid) || (f.submitted && password.value != repassword.value) }">
                <label for="repassword" class="required">Password Confirm</label>
                <input type="password" class="form-control answer" name="repassword" id="repassword" [(ngModel)]="model.repassword" #repassword="ngModel" required />
                <div *ngIf="f.submitted && !repassword.valid" class="help-block">Password Confirm is required</div>
                <div *ngIf="f.submitted && repassword.valid && password.value != repassword.value" class="help-block">Password Confirm is wrong</div>
            </div>
            <div class="form-group">
                <label for="country_id">Country</label>
                <mat-select class="form-control answer" id="country_id" [(value)]="selectedCountry">
                    <mat-select-trigger>
                        <img class="flag-icon" src="./assets/images/flags/{{selectedCountry.code.toLowerCase()}}.png" [alt]="selectedCountry.code" />
                        <span>{{selectedCountry.title}}</span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let country of countries" [value]="country">
                        <img class="flag-icon" src="./assets/images/flags/{{country.code.toLowerCase()}}.png" [alt]="country.code" />
                        <span>{{country.title}}</span>
                    </mat-option>
                </mat-select>
            </div>
            <div *ngIf="error" class="alert alert-danger">
                <span class="material-icons">warning</span>
                <span class="answer">&nbsp;{{error}}</span>
            </div>
            <div class="form-group center-block buttons-container">
                <button mat-button [disabled]="loading" class="button register-button moving-forward-button">
                    <span *ngIf="!loading">Register</span>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" alt=""/>
                </button>
            </div>
        </form>
        <mat-divider></mat-divider>
        <div class="text-center">
            <span>Already have an account?&nbsp;</span>
            <a [routerLink]="['/login']" routerLinkActive="link-active">
                <span>Login</span>
            </a>
        </div>
        <mat-divider></mat-divider>
    </mat-card>
</mat-card>
<mat-card class="role-select-container" *ngIf="!isRoleSelected">
    <h2 class="title text-white">Create your account as a...</h2>
    <div class="list">
        <mat-card class="card" (click)="onRoleSelected('student')">
            <h3 class="subtitle">Student</h3>
            <img mat-card-image src="assets/images/student.png" alt="Student"/>
        </mat-card>
        <mat-card class="card" (click)="onRoleSelected('teacher')">
            <h3 class="subtitle">Teacher</h3>
            <img mat-card-image src="assets/images/teacher.png" alt="Teacher"/>
        </mat-card>
    </div>
</mat-card>
