<h2 id="chart-container" [innerHTML]="chart"></h2>
<div id="controls" *ngIf="chartControl > 0" >
  <p>Value</p>
  <span *ngIf="chartControl == 1">
    <mat-form-field (change)="ngOnChanges()">
      <input matInput  *ngIf="chartType != 4"
        [(ngModel)]="chartValue" type="number" 
        [step]="chartStep" [max]="chartMaxValue" min="0"/>
      <input *ngIf="chartType == 4"
        matInput [(ngModel)]="chartValue" type="number" 
        [step]="chartStep" [max]="chartMaxValue" [min]="chartStartValue"/>
      <mat-progress-bar class='progress' value={{percentValue}}>
      </mat-progress-bar>
    </mat-form-field> 
    <span *ngIf="chartType != 4">
      <span class='max-value' *ngIf="chartMaxValue != 1" >/{{chartMaxValue}}</span>
    </span>
  </span>
  <span *ngIf="chartControl == 2">
    <span *ngIf="chartType != 4" >
      <mat-slider (change)="ngOnChanges()" [(ngModel)]="chartValue"
        [step]="chartStep" [max]="chartMaxValue" min="0" 
        color="primary" class='slider-control'>
      </mat-slider>
      <div class="value-label-container">
        <label *ngIf="chartType != 3" >
          <span *ngIf="!isSteepInteger">
            {{chartValue.toFixed(1)}}/{{chartMaxValue.toFixed(1)}}
          </span>
          <span *ngIf="isSteepInteger">
            {{chartValue}}/{{chartMaxValue}}
          </span>
        </label>
        <label *ngIf="chartType == 3" >
          {{chartValue}}/{{chartMaxValue}}
        </label>
      </div> 
    </span>
    <span *ngIf="chartType == 4" >
      <mat-slider (change)="ngOnChanges()" [(ngModel)]="chartValue"
        [step]="chartStep" [max]="chartMaxValue" [min]="chartStartValue" 
        color="primary" class='slider-control'>
      </mat-slider>
      <div class="value-label-container">
        <label *ngIf="!isSteepInteger">{{chartValue.toFixed(1)}}</label>
        <label *ngIf="isSteepInteger">{{chartValue}}</label>
      </div> 
    </span>
  </span>
</div>