<h2 id="chart-container" [innerHTML]="chart"></h2>
<div id="controls" *ngIf="chartControl > 0" >
  <p>Value</p>
  <mat-form-field *ngIf="chartControl == 1" (change)="ngOnChanges()">
    <input matInput [(ngModel)]="chartValue" 
      type="number" step="0.01" max="1" min="0"/>
  </mat-form-field>
  <mat-slider *ngIf="chartControl == 2" (change)="ngOnChanges()" color="primary"
  [(ngModel)]="chartValue" step="0.01" max="1" min="0" style="min-width: 250px;"></mat-slider>
  <p *ngIf="chartControl == 2">{{chartValue.toFixed(2)}}</p>
</div>