.dialog-content {
    height: 75%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .popup-image {
        height: 70%;
        margin: 0;
        padding: 0;
    }
}

.buttons-container {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    .button {
        max-width: 47%;
        padding: 0;
        margin: 0;
    }
    .continue-button {
        background-color: #fef65b;
    }
}

.explanation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    .explanation-text {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 94%;
    }
    .explanation-button {
        background:none;
        color:inherit;
        border:none;
        padding: 0!important;
        margin: 0;
        font: inherit;
        border-bottom:1px solid #444;
        cursor: pointer;
    }
}

.explanation-buttons-container {
    display: none;
    * {
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .dialog-content {
        height: 75%;
    }
    .buttons-container {
        height: 25%;
    }
    .explanation-buttons-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-height: 620px) {
    .dialog-content {
        height: 60%;
    }
    .buttons-container {
        height: 40%;
    }
}
