<h2 mat-dialog-title [draggable] dragHandle=".mat-dialog-container" dragTarget=".mat-dialog-container" class="subtitle hide">Correct!</h2>
<mat-dialog-content class="dialog-content">
	<img src="./assets/images/popup_image_correct.svg" alt="Correct" class="popup-image">
</mat-dialog-content>
<mat-dialog-actions class="buttons-container dialog-buttons-container">
	<button mat-button [mat-dialog-close]="false" class='button moving-forward-button continue-button'>Continue</button>
	<button mat-button [mat-dialog-close]="true" class='button feedback-button'>Feedback</button>
</mat-dialog-actions>
