<a routerLink="/topic/{{topic_id}}" routerLinkActive="active" class="backButton left"><-Back</a>
<div class="text-center">
    <div *ngIf="question !== null">
        <h2 [innerHtml]="question.question"></h2>
        <div *ngIf="question.answer_mode=='radio'">
            <mat-radio-group class="radio-group" [(ngModel)]="answers[0]">
                <mat-radio-button class="radio-button" *ngFor="let answer of question.answers; let answerIndex = index" value="{{answerIndex}}">
                    {{answer.value}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="question.answer_mode=='TF'">
            <mat-radio-group class="radio-group" [(ngModel)]="answers[0]">
                <mat-radio-button class="radio-button" value="False">
                    false
                </mat-radio-button>
                <mat-radio-button class="radio-button" value="True">
                    true
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="question.answer_mode=='checkbox'">
            <li *ngFor="let answer of question.answers; let answerIndex = index">
                <input type="checkbox" [(ngModel)]="answers[answerIndex]"/> {{answer.value}}
            </li>
        </div>
        <div *ngIf="question.answer_mode=='input'">
            <input *ngFor="let answer of question.answers; let answerIndex = index" [(ngModel)]="answers[answerIndex]" name="'answers[{{answerIndex}}]'"
            (keyup.enter) = "checkAnswer()">
        </div>
        <br />
        <button (click)="checkAnswer()" >Continue</button>
    </div>
    <div *ngIf="question === null">
        <h2>Congratulation!</h2>
        <h3>You have finish this lesson.</h3>
    </div>
</div>