<div class="text-center">
    <div ng-if="topicsTree.length">
        <div *ngFor="let level of topicsTree; let levelIndex = index">
            <div *ngIf="level.units.length">
                <h3>{{level.title}}</h3>
                <div *ngFor="let unit of level.units; let unitIndex = index">
                    <h4>{{unit.title}}</h4>
                    <div *ngFor="let topic of unit.topics; let topicIndex = index" style="display: inline-block;width:33%;height:152px;vertical-align:top;">
                        <span *ngIf="topicIndex >= 4000" class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x icon-red"></i>
                            <i class="fa fa-circle-thin fa-stack-2x icon-dark-red"></i>
                            <i *ngIf="topic.image_id" class="fa  fa-stack-1x {{topic.image_id}}"></i>
                            <i class="fa fa-lock fa-stack-1x"></i>
                        </span>
                        <span *ngIf="topicIndex < 4000" class="fa-stack fa-4x">
                            <a routerLink="/topic/{{topic.id}}" routerLinkActive="active">
                                <i class="fa fa-circle fa-stack-2x icon-green"></i>
                                <i class="fa fa-circle-thin fa-stack-2x icon-dark-green"></i>
                                <i *ngIf="!topic.image_id || topic.image_id=='cb0-img'" class="fa fa-unlock fa-stack-1x"></i>
                                <i *ngIf="topic.image_id" class="fa  fa-stack-1x {{topic.image_id}}"></i>
                            </a>
                        </span>
                        <div *ngIf="!topic.short_name">{{topic.title}}</div>
                        <div *ngIf="topic.short_name">{{topic.short_name}}</div>

                    </div>
                    <div style="width:1%"></div>
                    <div style="clear:both"><br /></div>
                </div>
            </div>
        </div>
    </div>
</div>