.auth-container {
	margin: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	div {
		width: 100%;
		max-width: 400px;
		min-width: 200px;
	}
}

.button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
} 
.login-button {
	background-color: #31698a;
	margin: 8px;
	padding: 0;
	width: 100px;
	color: #fafafa;
	text-decoration: none;
}