<!-- <h2 mat-dialog-title [draggable] dragHandle=".mat-dialog-container" dragTarget=".mat-dialog-container" class="subtitle hide">Test Report!</h2> -->
<mat-dialog-content class="dialog-content" id="dialog-content">
    <div class="subtitle text-center">{{title}}</div>
    <form novalidate #form="ngForm">
        <div class="table-responsive">
            <table matSort (matSortChange)="sortData($event)" class="table">
                <thead>
                <tr>
                    <th mat-sort-header="email" scope="col">Student</th>
                    <th mat-sort-header="mark" scope="col">Mark</th>
                    <th mat-sort-header="start_at" scope="col">Start At</th>
                    <th mat-sort-header="end_at" scope="col">End At</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="5">
                        <input matInput placeholder="Email" class="filter-item"
                               type="text" name="email" [(ngModel)]="email" [value]="" />
                    </td>
                </tr>
                <ng-container *ngFor="let item of students | tableFilter: form.value;">
                    <tr class="tid-data-row">
                        <td style="max-width: 260px;">{{item.email }}</td>
                        <td>
                            <span *ngIf="item.mark">
                                {{(item.mark * 100).toFixed(0)}}%
                                <span *ngIf="item.questions_count">
                                    ({{(item.mark*item.questions_count).toFixed(0)}}/{{item.questions_count}})
                                </span>
                            </span>
                            <span *ngIf="!item.mark">
                                N/A
                            </span>
                        </td>
                        <td>
                            {{ item.start_at ? (item.start_at | date:'yyyy-M-d h:mm a') : 'N/A' }}
                        </td>
                        <td>
                            {{ item.end_at ? (item.end_at | date:'yyyy-M-d h:mm a') : 'N/A' }}
                        </td>
                        <td class="text-right" style="min-width: 160px">
                            <button *ngIf="item.end_at || item.mark" class="button button-small button-outline" mat-stroked-button type="button" (click)="onShowDetails(item)" style="margin-right: 8px;">Details</button>
                            <button class="button button-small button-danger" mat-stroked-button type="button" (click)="onResetProgress(item)">Reset</button>
                        </td>
                    </tr>
                    <tr class="tid-detail-row" *ngIf="item.showDetail">
                        <td colspan="5">
                            <div *ngFor="let level of item.details" class="level-details d-flex flex-column">
                                <div>Level: <strong>{{level.title }}</strong></div>
                                <div>
                                    Mark:
                                    <strong>
                                        {{(level.mark * 100).toFixed(0)}}%
                                        <span *ngIf="level.correct && level.total">
                                            ({{level.correct}}/{{level.total}})
                                        </span>
                                    </strong>
                                </div>
                                <div *ngFor="let unit of level.units" class="level-units d-flex flex-column">
                                    <div>Unit: <strong>{{unit.title }}</strong></div>
                                    <div>
                                        Mark:
                                        <strong>
                                            {{(unit.mark * 100).toFixed(0)}}%
                                            <span *ngIf="unit.correct && unit.total">
                                                ({{unit.correct}}/{{unit.total}})
                                            </span>
                                        </strong>
                                    </div>
                                    <div *ngFor="let topic of unit.topics" class="unit-topics d-flex flex-column">
                                        <div>Topic: <strong>{{topic.title }}</strong></div>
                                        <div>
                                            Mark:
                                            <strong>
                                                {{(topic.mark * 100).toFixed(0)}}%
                                                <span *ngIf="topic.correct && topic.total">
                                                    ({{topic.correct}}/{{topic.total}})
                                                </span>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="buttons-container">
    <button mat-button [mat-dialog-close]="false" class="button button-white" type="button">Close</button>
</mat-dialog-actions>

