<!-- <h2 mat-dialog-title [draggable] dragHandle=".mat-dialog-container" dragTarget=".mat-dialog-container" class="subtitle hide">Test Report!</h2> -->
<mat-dialog-content class="dialog-content" id="dialog-content">
    <div class="subtitle text-center">{{title}}</div>
    <form novalidate #form="ngForm">
        <div class="table-responsive">
            <table matSort (matSortChange)="sortData($event)" class="table">
                <thead>
                <tr>
                    <th mat-sort-header="email" scope="col">Student</th>
                    <th scope="col" *ngFor="let attempt of attempts">Attempt #{{attempt+1}}</th>
                    <th mat-sort-header="attempts_count" scope="col">Attempts count</th>
                    <th mat-sort-header="resets_count" scope="col">Resets count</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td [attr.colspan]="test.attempts + 4">
                        <input matInput placeholder="Email" class="filter-item" type="text" name="email" [(ngModel)]="email" [value]="" />
                    </td>
                </tr>
                <ng-container *ngFor="let item of students | tableFilter: form.value;">
                    <tr class="tid-data-row">
                        <td style="max-width: 260px;">{{item.email }}</td>
                        <td *ngFor="let attempt of attempts">
                            <span *ngIf="item.attempts[attempt] && item.attempts[attempt].id; else attemptNotStarted" (click)="onShowDetails(item, attempt)" style="cursor: pointer" title="Show details">
                                <span *ngIf="item.attempts[attempt].end_at || item.attempts[attempt].mark; else attemptInProgress">
                                    {{(item.attempts[attempt].mark * 100).toFixed(0)}}%
                                    <span *ngIf="item.attempts[attempt].questions_count">
                                        ({{(item.attempts[attempt].mark*item.attempts[attempt].questions_count).toFixed(0)}}/{{item.attempts[attempt].questions_count}})
                                    </span>
                                </span>
                                <ng-template #attemptInProgress>
                                    <img class="test-progress-icon" src="assets/images/test_in_progress.png" alt="Test In Progress" />
                                </ng-template>
                            </span>
                            <ng-template #attemptNotStarted>
                                <img class="test-progress-icon" src="assets/images/test_not_started.png" alt="Test Not Started" />
                            </ng-template>
                        </td>
                        <td>{{item.attempts_count}}</td>
                        <td>{{item.resets_count}}</td>
                        <td class="text-right" style="min-width: 200px">
                            <div *ngIf="item.attempts && item.attempts[0] && item.attempts[0].id">
                                <button class="button button-small button-outline" mat-stroked-button type="button" style="margin-right: 4px" (click)="onDownloadPDF(item)">Download PDF</button>
                                <button class="button button-small button-danger" mat-stroked-button type="button" (click)="onResetProgress(item)">Reset</button>
                            </div>
                        </td>
                    </tr>
                    <tr class="tid-detail-row" *ngIf="item.showDetail">
                        <td [attr.colspan]="test.attempts + 4">
                            <h4>Attempt #{{item.attempts[item.selectedAttempt].attempt_no}}</h4>
                            <h5 *ngIf="item.attempts[item.selectedAttempt].start_at">Start At: {{ item.attempts[item.selectedAttempt].start_at | date:'yyyy-M-d h:mm a' }}</h5>
                            <h5 *ngIf="item.attempts[item.selectedAttempt].end_at">End At: {{ item.attempts[item.selectedAttempt].end_at | date:'yyyy-M-d h:mm a' }}</h5>
                            <div *ngFor="let level of item.details" class="level-details d-flex flex-column">
                                <div>Level: <strong>{{level.title }}</strong></div>
                                <div>
                                    Mark:
                                    <strong>
                                        {{(level.mark * 100).toFixed(0)}}%
                                        <span *ngIf="level.correct && level.total">
                                            ({{level.correct}}/{{level.total}})
                                        </span>
                                    </strong>
                                </div>
                                <div *ngFor="let unit of level.units" class="level-units d-flex flex-column">
                                    <div>Unit: <strong>{{unit.title }}</strong></div>
                                    <div>
                                        Mark:
                                        <strong>
                                            {{(unit.mark * 100).toFixed(0)}}%
                                            <span *ngIf="unit.correct && unit.total">
                                                ({{unit.correct}}/{{unit.total}})
                                            </span>
                                        </strong>
                                    </div>
                                    <div *ngFor="let topic of unit.topics" class="unit-topics d-flex flex-column">
                                        <div>Topic: <strong>{{topic.title }}</strong></div>
                                        <div>
                                            Mark:
                                            <strong>
                                                {{(topic.mark * 100).toFixed(0)}}%
                                                <span *ngIf="topic.correct && topic.total">
                                                    ({{topic.correct}}/{{topic.total}})
                                                </span>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="buttons-container">
    <button mat-button [mat-dialog-close]="false" class="button button-white" type="button">Close</button>
</mat-dialog-actions>

