@import '../../../colors';

.buttons-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	
	.register-button, .login-button, .try-button {
		margin: 8px;
		padding: 22px !important;
		width: 500px;
		//color: #fafafa;
		text-decoration: none;
	}

	.login-button {
		background-color: $teal !important;
		width: 200px;
	}	

	.register-button {
		background-color: $green !important;
		width: 560px;
	}

	.try-button {
		//background-color: #daa520;
		width: 820px;
	}
}

.center {
	display: flex;
	justify-content: center;
}

.logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}

