<div class="welcome">
  <span class="left">
  	<div class="logo-container">
  		<img src="./assets/images/logo-blue.svg" alt="Health Numeracy Project" class="logo">
  	</div>
  	<div class="left-container">
  		<h2 class="header">
  			Welcome to Gizmo!
  		</h2>
  		<div class="copy">
  			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
  		</div>
  		<div class="line"></div>
  		<div class="copy">
  			Lorem ipsum dolor
  		</div>
	  	<div class="buttons-container">
		    <a mat-button routerLink="/register" class="button register-button">Sign Up</a>
		    <a mat-button routerLink="/login" class="button login-button">Login</a>
		    <app-try class="try-button"></app-try>
	  	</div>
	  	<div class="bottom-text">
	  		Lorem ipsum dolor sit amet, consectetur adipiscing elit
	  	</div>
	  	<span class="circle"></span>
  	</div>
  </span>
  <span class="right">
  	<span class="center right-text">
  		Lorem ipsum dolor sit amet, consectetur
  	</span>
  </span>
</div>