<div class="welcome">
  <span class="left">
      <div class="logo-container">
          <img src="./assets/images/logo-blue.svg" alt="Health Numeracy Project" class="logo">
      </div>
      <div class="left-container">
          <h2 class="header">
            {{title}}
          </h2>
          <br/>
          <div id="subtitle" class="copy"></div>
          <!-- <div class="line"></div> -->
          <div class="buttons-container">
            <div class="row">
                <a mat-button routerLink="/register" class="button register-button">Sign Up</a>
                <a mat-button routerLink="/login" class="button login-button">Login</a>
            </div>
            <!-- <app-try class="try-button"></app-try> -->
          </div>
          <div id="scroll-to-instruction" class="scroll">
              <a (click)="scrollToInstruction()"><span id='scroll-icon'></span>{{introductionTitle}}</a>
          </div>
      </div>
  </span>
  <span class="right" id="instruction" tabindex="-1">
    <perfect-scrollbar class="center right-text">
        <div class="title right-text-title">
          {{introductionTitle}}
        </div>
        <div id="introduction" class="right-text-description">
        </div>
    </perfect-scrollbar>
  </span>
</div>
