.buttons-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	
	.register-button, .login-button, .try-button {
		margin: 8px;
		padding: 0;
		width: 150px;
		color: #fafafa;
		text-decoration: none;
	}

	.login-button {
		background-color: #31698a;
	}	

	.register-button {
		background-color: #6dc066;
	}

	.try-button {
		background-color: #daa520;
	}

}

.center {
	display: flex;
	justify-content: center;
}