<a routerLink="/researcher/class" routerLinkActive="active" class="back">{{backLinkText}}</a>
<div class="dashboard">
    <app-research-menu [classId]="classId" class="class-menu"></app-research-menu>
    <div class="dashboard-content">
        <mat-card>
            <div class="subtitle text-center">Email to students</div>
            <div *ngIf="message" class="alert alert-info">
                <span class="material-icons">info</span>
                <span class="answer">&nbsp;{{message}}</span>
            </div>
            <div class="form-group">
                <label for="subject">Subject:</label>
                <input name="subject" id="subject" [(ngModel)]="mail.subject" required class="form-control"/>
            </div>
            <div class="form-group">
                <label for="body">Body:</label>
                <ckeditor id="body" [editor]="editor" [(ngModel)]="mail.body" class="body-input"></ckeditor>
            </div>
            <div *ngIf="!mail.for_all_students">
                <label>Students:</label>
                <mat-selection-list [(ngModel)]="mail.students">
                    <mat-list-option *ngFor="let student of students" [value]="student.email" checkboxPosition="before">
                        {{student.email}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
            <div class="form-group">
                <mat-checkbox name="for_all_students" [(ngModel)]="mail.for_all_students">For all students</mat-checkbox>
            </div>
            <div class="button-container">
                <button mat-button (click)="onEmail()" class="button moving-forward-button continue-button" [disabled]="!mail.subject || !mail.body">Send</button>
            </div>
        </mat-card>
    </div>
</div>

