<a routerLink="/" routerLinkActive="active" class="back">{{backLinkText}}</a>
<div class="text-center topic-container">
    <h2 class="title">{{topicTree.title}}</h2>
    <div *ngIf="topicTree.lessons && topicTree.lessons.length" class="lessons-container">
        <div *ngFor="let lesson of topicTree.lessons; let levelIndex = 'index'" class="lesson">
            <a [routerLink]="'/topic/'+topicTree.id+'/lesson/'+lesson.id" routerLinkActive="active" [class.locked]="lesson.status == 0 ? true : null">
                <div [class.complete]="lesson.status == 1 ? true : null" class="topic-img" [style.background-image]="setTopicIcon(topicTree.icon_src)">
                </div>
                <div class="subtitle lesson-title">{{lesson.title}}</div>
            </a>
        </div>
    </div>
    <div *ngIf="(topicTree.lessons == undefined || !topicTree.lessons.length) && topicTree.next_topic_id != 0">
        <h3 class="title">More lessons coming soon, please continue with next topic!</h3>
    </div>
    <div *ngIf="(topicTree.lessons == undefined || !topicTree.lessons.length) && topicTree.next_topic_id == 0">
        <h3 class="title">More lessons coming soon!</h3>
    </div>
    <a
        class="button-container"
        [ngClass]="{'to-many-attempts' : topicTree.testout_attempts >= topicTree.max_testout_attempts}"
        routerLink="/topic/{{topicTree.id}}/lesson/testout"
        routerLinkActive="active"
        *ngIf="topicTree.lessons && topicTree.lessons.length">
        <button mat-raised-button class="button completion-button">
            <span>Test Out</span>
        </button>
    </a>
    <a
        class="button-container"
        routerLink="/topic/{{topicTree.next_topic_id}}"
        routerLinkActive="active"
        *ngIf="(topicTree.lessons == undefined || !topicTree.lessons.length || topicDone) && topicTree.next_topic_id != 0">
        <button mat-raised-button class="button moving-forward-button">
            <span>Go to next topic</span>
        </button>
    </a>
</div>
