@import '../../../../colors';

.auth-container {
	margin: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	div {
		width: 100%;
		//max-width: 400px;
		min-width: 200px;
	}
}

.button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
} 
.register-button {
	background-color: $teal;
	margin: 8px;
	padding: 22px;
	width: 300px;
	color: #fafafa;
	text-decoration: none;
}

input {
	height: 50px;
}