@import '../../../../colors';

.auth-container {
	margin: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	div {
		width: 100%;
		max-width: 500px;
		min-width: 200px;
	}
}

.button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
} 
.register-button {
	background-color: $teal;
	color: #fafafa;
	text-decoration: none;
}