@import '../../../../colors';

.auth-container {
	margin: 8px auto;
	padding: 12px;
	background-color: rgba(255, 255, 255, 0.2);
	width: 96vw;
	max-width: 550px;
	min-width: 200px;
	.mat-card {
		margin: 0 auto;
		width: 100%;
		max-width: 550px;
		min-width: 200px;
		.title {
			text-align: center;
		}
	}
}

.buttons-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	.register-button {
		background-color: $teal;
		color: #fafafa;
		text-decoration: none;
	}
} 
