/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-lime, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    font-family: $mat-font-family;
    font-weight: normal;
    background-color: #eee;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.help-block {
    font-size: 12px;
}

.circle-icon {
    background: #ffc0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 20px 30px 20px 30px;
}
.icon-red {
    color: #ffc0c0;
}

.icon-dark-red {
    color: #c04040;
}

.icon-green {
    color: #c0ffc0;
}

.icon-dark-green {
    color: #40c040;
}

.circle-icon2 {
    background: #ffc0c0;
    padding:30px;
    border-radius: 50%;
}

.cb1-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -51px -50px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb2-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -194px -50px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb3-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -338px -50px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb4-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -483px -50px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}


.cb5-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -49px -192px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb6-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -193px -192px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb7-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -337px -192px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb8-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -482px -194px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}


.cb9-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -50px -336px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb10-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -193px -337px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb11-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -337px -338px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb12-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -482px -338px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}


.cb13-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -50px -481px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb14-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -193px -481px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb15-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -337px -481px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb16-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -482px -482px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb17-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -50px -625px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb18-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -193px -626px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb19-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -337px -626px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb20-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/img_topics.jpg) -482px -626px;
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.cb0-img {
    width: 79px !important;
    height: 79px !important;
    background: url(/assets/images/no_image.png);
    margin: 17px 0px 17px 0px;
    border-radius: 8px;
}

.greenButton {
    border: 2px solid;
    border-color: #40c040;
    border-radius: 25px;
    width:80px;
}
.arrow {

}
.arrowRowContainer {
    display: inline-block;
    box-shadow: 5px 5px 7px 0px black;
    background: 
    url(/assets/images/arrow.png);
    background-size: 100% 100%;
}
.arrowButtonContainer {
    width:100px;
    padding: 25px;
    margin: 1px;

}
.greenout {
    background: 
    linear-gradient(
        rgba(0, 128, 0, 0.3),
        rgba(0, 128, 0, 0.3)
    );
    background-size: 100% 100%;

}
.yellowout {
    background: 
    linear-gradient(
      rgba(128, 128, 0, 0.3), 
      rgba(128, 128, 0, 0.3)
    );
    background-size: 100% 100%;
}

.redout {
    background: 
    linear-gradient(
      rgba(128, 0, 0, 0.7), 
      rgba(128, 0, 0, 0.7)
    );
    background-size: 100% 100%;
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
.radio-group {
    display: inline-flex;
    flex-direction: column;
}

.radio-button {
    margin: 5px;
}

.selected-value {
    margin: 15px 0;
}

.topicButton {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.shadow {
    margin: 7px 7px 9px 8px;
    box-shadow: 4px 4px 5px 2px black;
}

.bottom_progress {
    position: absolute; 
    bottom: 0; 
    width: 100%
}

.center {
    margin: auto;
    width: 50%;
}
.width150 {
    width: 150px;
}