<!-- main app container -->
<div *ngIf="showMenu" class="menu" id='main-menu'>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <img src="./assets/images/menu-button-white.svg" class="menu-icon">
        <!--<mat-icon class="menu-icon">menu</mat-icon>-->
    </button>
    <mat-menu #menu="matMenu" class="menu">
        <br />
        <a mat-menu-item routerLink="" class="menu-item">Home</a>
        <a mat-menu-item routerLink="to-do" class="menu-item">To Do</a>
        <a mat-menu-item routerLink="my-classes" class="menu-item">My Classes</a>
        <a *ngIf="user.role === 'admin' || user.role === 'teacher'" mat-menu-item routerLink="manage-classes" class="menu-item">Manage Classes</a>
        <a *ngIf="user.role === 'admin' || user.role === 'teacher'" mat-menu-item routerLink="manage-assignments" class="menu-item">Manage Assignments</a>
        <a mat-menu-item routerLink="profile" class="menu-item">Profile</a>
        <a mat-menu-item routerLink="login" class="menu-item">Logout</a>
    </mat-menu>
</div>
<router-outlet></router-outlet>

<!-- loader -->
<div [hidden] = !HTTPActivity>
    <div class="loader">
        <div class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>
</div>
