<h2 id="chart-container"></h2>
<div id="controls" >
<!-- <div id="controls" *ngIf="valueDisplay != 4">
    <p class="value-label">Value</p>-->
  
  <span *ngIf="control == 1">
    <mat-form-field (change)="ngOnChanges()">
      <input matInput *ngIf="type != 4"
        [(ngModel)]="value" type="number" 
        [step]="step" [max]="maxValue" min="0"/>
      <input matInput *ngIf="type == 4" id='inputValue'
        [(ngModel)]="value" type="number" 
        [step]="step" [max]="maxValue" [min]="startValue"/>
      <mat-progress-bar class='progress' value={{percentValue}}>
      </mat-progress-bar>
    </mat-form-field> 
    <!-- <span *ngIf="valueDisplay == 1" >
      <span class='max-value'>/{{maxValue}}</span>
    </span> -->
  </span>

  <span *ngIf="control == 2">
    <span>
      <mat-slider  *ngIf="type != 4" 
        (change)="ngOnChanges()" [(ngModel)]="value"
        [step]="step" [max]="maxValue" min="0" 
        color="primary" class='slider-control'>
      </mat-slider>
      <mat-slider *ngIf="type == 4" 
        (change)="ngOnChanges()" [(ngModel)]="value"
        [step]="step" [max]="endValue" [min]="startValue" 
        color="primary" class='slider-control' id='inputValue'>
      </mat-slider>
      <!-- <div class="value-label-container">
        <label *ngIf="!(valueDisplay == 2 || valueDisplay == 3)">
          <span>
            {{value.toFixed(precision)}}
          </span>
          <span *ngIf="valueDisplay == 1">
            / {{maxValue}}
          </span>
        </label>
        <label *ngIf="(valueDisplay == 2 || valueDisplay == 3)">
          <span *ngIf="valueDisplay == 2">
            {{(value/maxValue).toFixed(precision+2)}}
          </span>
          <span *ngIf="valueDisplay == 3">
            {{(value/maxValue*100).toFixed(precision)}}%
          </span>
        </label>
      </div> -->
    </span>
  </span>

  <!-- <span *ngIf="(control != 1 && control != 2)">
    <div id="value-label-container">
      <label *ngIf="!(valueDisplay == 2 || valueDisplay == 3)">
        <span>
          {{value.toFixed(precision)}}
        </span>
        <span *ngIf="valueDisplay == 1">
          / {{maxValue}}
        </span>
      </label>
      <label *ngIf="(valueDisplay == 2 || valueDisplay == 3)">
        <span *ngIf="valueDisplay == 2">
          {{(value/maxValue).toFixed(precision+2)}}
        </span>
        <span *ngIf="valueDisplay == 3">
          {{(value/maxValue*100).toFixed(precision)}}%
        </span>
      </label>
    </div>
  </span> -->

</div>