<h2 id="chart-container"></h2>
<div id="controls" *ngIf="chartControl > 0" >
  <p>Value</p>
  <span *ngIf="chartControl == 1">
    <mat-form-field (change)="ngOnChanges()">
      <input matInput  *ngIf="chartType != 4"
        [(ngModel)]="chartValue" type="number" 
        [step]="chartStep" [max]="chartMaxValue" min="0"/>
      <input *ngIf="chartType == 4" id='inputValue'
        matInput [(ngModel)]="chartValue" type="number" 
        [step]="chartStep" [max]="chartMaxValue" [min]="chartStartValue"/>
      <mat-progress-bar class='progress' value={{percentValue}}>
      </mat-progress-bar>
    </mat-form-field> 
    <span *ngIf="chartType != 4">
      <span class='max-value' *ngIf="chartMaxValue != 1" >/{{chartMaxValue}}</span>
    </span>
  </span>
  <span *ngIf="chartControl == 2">
    <span *ngIf="chartType != 4" >
      <mat-slider (change)="ngOnChanges()" [(ngModel)]="chartValue"
        [step]="chartStep" [max]="chartMaxValue" min="0" 
        color="primary" class='slider-control'>
      </mat-slider>
      <div class="value-label-container">
        <label *ngIf="chartType != 3" >
          <span>
            {{chartValue.toFixed(precision)}}/{{chartMaxValue}}
          </span>
        </label>
        <label *ngIf="chartType == 3" >
          <span> {{chartValue}} </span>
          <span *ngIf="chartMaxValue != 1" > / {{chartMaxValue}} </span>
        </label>
      </div> 
    </span>
    <span *ngIf="chartType == 4" >
      <mat-slider (change)="ngOnChanges()" [(ngModel)]="chartValue"
        [step]="chartStep" [max]="endValue" [min]="startValue" 
        color="primary" class='slider-control' id='inputValue'>
      </mat-slider>
      <div class="value-label-container">
        <label>{{chartValue.toFixed(precision)}}</label>
      </div> 
    </span>
  </span>
</div>