<a routerLink="/teacher/class" routerLinkActive="active" class="back">{{backLinkText}}</a>
<div class="dashboard">
  <app-class-menu [classId]="classId" class="class-menu"></app-class-menu>
  <div class="dashboard-content">
    <mat-card>
      <div class="subtitle text-center">Invitation Settings</div>
      <div class="form-group">
        <label for="key">Class URL:</label>
        <div id="key" [cdkCopyToClipboard]="classJoinURL" class="copy-text form-control">{{classJoinURL}}</div>
      </div>
      <div>Copy paste the following text to students you wish to invite to this classroom.</div>
      <blockquote>
        <cite class="copy-text" [cdkCopyToClipboard]="citeText.innerText.trim()" #citeText>
          Please follow these 2 steps to join the webapp classroom:<br><br>
          1. register yourself with the webapp by going to <a href="https://bit.ly/henupr">bit.ly/henupr</a><br><br>
          2. click on the following <a href="{{classJoinURL}}">link</a>, then follow instructions provided.<br><br>
          Before emailing your teacher for help please download and read through  <a href="https://healthnumeracyproject.com/admin/uploads/1627414213_HNP%20webapp%20registration%20and%20use%20instructions%20for%20students.pdf">this pdf document</a> where instructions will be provided.
        </cite>
      </blockquote>
    </mat-card>
  </div>
</div>
