<form #changePassword="ngForm" (ngSubmit)="onChangePassword(newPassword.value, confirmedPassword.value)" class="grey-theme password-container">
  <a routerLink="/welcome" routerLinkActive="active" class="backButton left"><-Back Home</a>
  <mat-card>
    <mat-card-title>
      <!--<mat-icon>vpn_key</mat-icon>-->
      <span class="title">Reset Password</span>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput class="answer" 
          required="required"
          pattern=".{6,30}"
          type="password"
          placeholder="New Password"
          #newPassword />
      </mat-form-field>
      <mat-form-field>
        <input matInput class="answer" 
          required="required"
          pattern=".{6,30}"
          type="password"
          placeholder="Confirm Password"
          #confirmedPassword />
      </mat-form-field>
      <div class="alert alert-danger" *ngIf="!passwordsMatch">
         <mat-icon>warning</mat-icon>
         <span class="answer">{{warning}}</span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!waiting" class="button" 
        mat-raised-button
        type="submit" color="primary">
        <span>Confirm</span>
      </button>
      <button *ngIf="waiting" class="button" 
        mat-raised-button disabled
        type="submit" color="primary">
        <span>
          <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>