@import '../../../../../../colors';

.title {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

td {
  white-space: pre-wrap !important;
  word-break: break-word !important;
}

.button {
  font-size: 18px !important;
}
