.dialog-content {
    height: 75%;
    margin: 0;
    padding: 16px;
    display: block !important;
    width: 100% !important;
}

.test-progress-icon {
    width: 32px;
    height: 32px;
}

.buttons-container {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    .button {
        max-width: 47%;
        min-width: 120px;
        padding: 0;
        margin: 0;
    }
    .continue-button {
        background-color: #fef65b;
    }
}

.flex-end {
    justify-content: flex-end;
    & > * {
        margin-left: 8px !important;
    }
}

.button {
    font-size: 18px !important;
}

.filter-item, .filter-item:focus {
    width: 100%;
    border: none;
    outline: none;
    overflow: visible;
}

td {
    word-wrap: break-word !important;
    min-width: 0;
}

.level-details {
    margin-bottom: 16px;
    .level-units {
        margin-left: 12px;
        margin-top: 8px;
        .unit-topics {
            margin-left: 24px;
            margin-top: 8px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .button, button {
        font-size: 14px !important;
    }
}

@media (max-width: 768px) {
    .dialog-content {
        height: 75%;
    }
    .buttons-container {
        height: 25%;
    }
    .button, button {
        font-size: 12px !important;
    }
}

@media (max-height: 620px) {
    .dialog-content {
        height: 60%;
    }
    .buttons-container {
        height: 40%;
    }
    .button, button {
        font-size: 9px !important;
    }
}

@media (max-width: 500px) {
    .buttons-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > * {
            margin: 0 0 8px 0 !important;
            width: 100% !important;
            max-width: 100% !important;
        }
    }
}
