.send-button {
	background-color: #31698a;
}

.cancel-button {
	background-color: #6dc066 !important;
}

.buttons-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.button {
	margin: 0 4px 12px 4px;
}

.custom-answer, input {
	width: 100%;
}