<a routerLink="/student/class" routerLinkActive="active" class="back">{{backLinkText}}</a>
<div class="page">
  <app-my-class-menu [classId]="classId" [myClass]="myClass" class="class-menu"></app-my-class-menu>
  <div class="page-content">
    <mat-card>
      <div class="subtitle text-center">
        Research Status
      </div>
      <div class="form-group">
        <cite [innerHTML]="consentMessage"></cite>
      </div>
      <div class="form-group">
        <div>
          <strong>Your level of consent</strong>
        </div>
        <section>
          <mat-checkbox [disabled]="true" [(ngModel)]="myClass.pivot.is_element1_accepted">
            Element 1: tracking my usage of the HNP webapp
          </mat-checkbox>
        </section>
        <section>
          <mat-checkbox [disabled]="true" [(ngModel)]="myClass.pivot.is_element2_accepted">
            Element 2: post usage survey
          </mat-checkbox>
        </section>
        <section>
          <mat-checkbox [disabled]="true" [(ngModel)]="myClass.pivot.is_element3_accepted">
            Element 3: interview
          </mat-checkbox>
        </section>
        <section>
          <mat-checkbox [disabled]="true" [(ngModel)]="myClass.pivot.is_element4_accepted">
            Element 4: pre and post health numeracy task assessment
          </mat-checkbox>
        </section>
      </div>
    </mat-card>
  </div>
</div>
