.to-do {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin: 60px auto 0;
  width: 80vw;
  .to-do-content {
    margin-left: 220px;
  }
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    ::ng-deep .class-menu {
      width: calc(100% - 20px);
      max-width: calc(100% - 20px);
      min-width: calc(100% - 20px);
    }
    .to-do-content {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 600px) {
    width: 100vw;
  }
  .applications-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    > * {
      width: 600px;
      min-width: 60%;
      max-width: 92%;
    }
    .app-select-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      .app-img {
        width: 64px;
        height: 64px;
        background-size: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        background-repeat: no-repeat;
      }
      .app-data {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: calc(100% - 90px);
        margin: 12px;
        @media screen and (max-width: 768px) {
          flex-wrap: wrap;
          flex-direction: column;
          align-items: flex-start;
        }
        & > * {
          white-space: initial;
          word-wrap: break-word;
          line-height: normal;
          margin-bottom: 8px;
          text-align: start;
        }
        .app-title, .app-date {
          display: flex;
          flex-direction: column;
        }
        & > *:first-child {
          margin-right: 8px;
          .app-class {
            color: dimgrey;
            margin-top: 4px;
            font-size: 14px;
            @media screen and (max-width: 1024px) {
              font-size: 10px;
            }
          }
        }
        .date-container {
          min-width: 200px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-end;
          flex-wrap: wrap;
          line-height: 1.5;
          @media screen and (max-width: 1024px) {
            min-width: 160px;
          }
          @media screen and (max-width: 768px) {
            align-items: flex-start;
            justify-content: flex-start;
          }
        }
        .due-date {
          color: dimgrey;
          text-align: right;
          @media screen and (max-width: 768px) {
            text-align: left;
          }
        }
      }
    }
  }
}

.toggle-button {
  margin: 16px 0;
  cursor: pointer;
  color: #666666;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 12px 0;
}

.title {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.disabled, .disabled * {
  cursor: not-allowed !important;
  opacity: 0.88 !important;
}

mat-card {
  margin: 10px;
  padding: 15px;
  min-width: 250px;
  width: calc(100% - 20px);
}

mat-card:last-child {
  margin-bottom: 28px;
}

mat-form-field {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .to-do {
    width: calc(100% - 20px);
    justify-content: center;
    align-items: center;
  }
  .to-do-content {
    margin-right: 0;
  }
}
