<a routerLink="/student/class" routerLinkActive="active" class="back">{{backLinkText}}</a>
<div class="dashboard">
    <app-my-class-menu [classId]="classId" class="class-menu"></app-my-class-menu>
    <div class="dashboard-content">
        <mat-card>
            <div class="subtitle text-center">Email to the teacher {{myClass.teacher_email}} (class {{myClass.name}})</div>
            <div class="form-group">
                <label for="subject">Subject:</label>
                <input name="subject" id="subject" [(ngModel)]="mail.subject" required class="form-control"/>
            </div>
            <div class="form-group">
                <label for="body">Body:</label>
                <ckeditor id="body" [editor]="editor" [(ngModel)]="mail.body" class="body-input"></ckeditor>
            </div>
            <div class="button-container">
                <button mat-button (click)="onEmail()" class="button moving-forward-button continue-button" [disabled]="!mail.subject || !mail.body">Send</button>
            </div>
        </mat-card>
    </div>
</div>
