<mat-nav-list class="menu">
    <a mat-list-item routerLink="/teacher/class/{{classId}}/dashboard">Dashboard</a>
    <a mat-list-item routerLink="/teacher/class/{{classId}}/assignments">Assignments</a>
    <a mat-list-item routerLink="/teacher/class/{{classId}}/tests">Tests</a>
    <!-- <a mat-list-item routerLink="/teacher/class/{{classId}}/report">Report</a> -->
    <a mat-list-item routerLink="/teacher/class/{{classId}}/students">Students</a>
    <a mat-list-item routerLink="/teacher/class/{{classId}}/teachers">Teachers</a>
    <a mat-list-item (click)="onEmail()">Email</a>
    <a mat-list-item routerLink="/teacher/class/{{classId}}/threads">Discussion</a>
</mat-nav-list>
