<h2 mat-dialog-title [draggable] dragHandle=".mat-dialog-container" dragTarget=".mat-dialog-container" class="subtitle hide">Add Student!</h2>
<mat-dialog-content class="dialog-content" id="dialog-content">
    <div class="subtitle text-center">Add Students</div>
        <div class="form-group">
            <label for="email">Emails:</label>
            <textarea id="email" name="email" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="6"
                      cdkAutosizeMaxRows="12" placeholder="Please enter comma separated email list"
                      [(ngModel)]="email" class="form-control"></textarea>
        </div>
</mat-dialog-content>
<mat-dialog-actions class="buttons-container dialog-buttons-container">
    <button mat-button [mat-dialog-close]="false" class='button' type="button">Close</button>
    <button mat-button [mat-dialog-close]="email" class='button moving-forward-button continue-button' type="button">Save</button>
</mat-dialog-actions>

