<div *ngIf="topicsTree.length" class="topics">
  <div *ngFor="let level of topicsTree; let levelIndex = 'index'" >
    <h3 class="level-title title">{{level.title}}</h3>
    <mat-card *ngIf="level.units.length" class="level">
      <mat-card [id]="'unit'+unit.id" class="unit" *ngFor="let unit of level.units; let unitIndex = 'index'">
        <h4 class="unit-title subtitle" (click)="slideToggle(unit)">
          {{unit.title}}
        </h4>
        <i class="arrow" [class.arrow-up]="unit.show" [class.arrow-down]="!unit.show"
          (click)="slideToggle(unit)">
        </i>
        <div [id]="'unit'+unit.id+'-topics'" style="display: none;">
          <div *ngFor="let topic of unit.topics; let topicIndex = 'index'" class="topics-container" [class.locked]="topic.status == 0 ? true : null" [id]="'topic'+topic.id">
            <a [routerLink]="topic.status == 0 ? '' : '/assignment/'+assignmentId+'/topic/'+topic.id" routerLinkActive="active" [class.disabled]="topic.status == 0 ? true : null" class="topic">
              <div [class.complete]="topic.status == 1 ? true : null" class="topic-img" [style.background-image]="setTopicIcon(topic.icon_src)">
              </div>
              <!-- Old template with 2 different images
              <div *ngIf="topic.status == 1" class="topic-img" [style.background-image]="setTopicIconComplete(topic.icon_src)">
              </div>
              <div *ngIf="topic.status != 1" class="topic-img" [style.background-image]="setTopicIcon(topic.icon_src)">
              </div>
               -->
               <div class="topic-progress"> {{topic.progress.done}} of {{topic.progress.total}} done</div>
               <div>
                 <div *ngIf="!topic.short_name" class="topic-title">{{topic.title}}</div>
                 <div *ngIf="topic.short_name" class="topic-title">{{topic.short_name}}</div>
               </div>
            </a>
          </div>
        </div>
      </mat-card>
    </mat-card>
  </div>
</div>
