<div class="profile">
  <mat-card id="profile-container">
  	<span class="title">Change Profile Info</span>
    <form #changeProfile="ngForm" (ngSubmit)="changeProfile.form.valid && onChangeProfile()">
      <mat-form-field>
        <input matInput
               name="first_name"
               placeholder="First Name"
               [(ngModel)]="user.first_name"
               class="answer" />
      </mat-form-field>
      <mat-form-field>
        <input matInput
               name="last_name"
               placeholder="Last Name"
               [(ngModel)]="user.last_name"
               class="answer" />
      </mat-form-field>
      <mat-form-field>
        <mat-select class="answer" id="country_id" [(value)]="selectedCountry" placeholder="Country">
          <mat-select-trigger>
            <img class="flag-icon" src="./assets/images/flags/{{selectedCountry.code.toLowerCase()}}.png" [alt]="selectedCountry.code" />
            <span>{{selectedCountry.title}}</span>
          </mat-select-trigger>
          <mat-option *ngFor="let country of countries" [value]="country">
            <img class="flag-icon" src="./assets/images/flags/{{country.code.toLowerCase()}}.png" [alt]="country.code" />
            <span>{{country.title}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput
          name="email"
          required
          pattern="^\S+@\S+$"
          placeholder="Email"
          [(ngModel)]="user.email"
          class="answer"
        />
      </mat-form-field>
      <div class="email-message alert alert-info" *ngIf="showOldEmail && oldEmail !== user.email">
        <div>
          <mat-icon>info</mat-icon>
          <span class="answer">You need to verify your new email address! Current Email: {{oldEmail}}</span>
        </div>
        <button *ngIf="linkTimer < 1" type="button" class="button button-outline button-very-small" (click)="onVerifyEmail()">Resend Email</button>
        <span *ngIf="linkTimer > 0">Wait {{linkTimer}} sec.</span>
      </div>
      <div class="alert alert-danger" *ngIf="badEmail">
         <mat-icon>warning</mat-icon>
         <span class="answer">&nbsp;{{warningMessage}}</span>
      </div>
      <mat-form-field *ngIf="user.role === 'teacher' || user.role === 'researcher'">
        <mat-select name="is_researcher" placeholder="Role" class="answer" [(ngModel)]="isResearcher">
          <mat-option [value]="false">Teacher only</mat-option>
          <mat-option [value]="true">Teacher/Researcher</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="button-container">
        <button
          mat-raised-button
          type="submit"
          class='button'>
          <span>Update</span>
        </button>
    	</div>
  	</form>
  </mat-card>

  <mat-card>
    <span class="title">Change Password</span>
    <form #changePassword="ngForm" (ngSubmit)="changePassword.form.valid && onChangePassword()">
      <mat-form-field>
        <input matInput
          required
          minlength="6"
          pattern=".{6,30}"
          name="newPassword"
          type="password"
          placeholder="New Password"
          [(ngModel)]="newPassword"
          class="answer" />
      </mat-form-field>
      <mat-form-field>
        <input matInput
          required
          minlength="6"
          pattern=".{6,30}"
          name="confirmedPassword"
          type="password"
          placeholder="Confirm Password"
          [(ngModel)]="confirmedPassword"
          class="answer" />
      </mat-form-field>
      <div class="alert alert-danger" *ngIf="!passwordsMatch">
         <mat-icon>warning</mat-icon>
         <span class="answer">&nbsp;{{warningMessage}}</span>
      </div>
      <div class="button-container" >
        <button id="change-password-button"
          mat-raised-button
          type="submit"
          class="button">
          <span>Change Password</span>
        </button>
      </div>
    </form>
  </mat-card>
</div>
