<form #questionNumForm='ngForm' (ngSubmit)='onClick()' class='grey-theme text-center'>
	<h4 mat-dialog-title class="title">Number of correct answers</h4>
	<div>Please set the number of consecutive correct answers  which will signify lesson completion for you (put 0 to answer all questions). You can change this value at any time in your profile. </div>
	<mat-input-container class='input-container'>
		<input matInput name='question_num' 
		pattern='[0-9]{1,2}' [(ngModel)]='user.questionNum'  
		class='question-num-input' />
	</mat-input-container>
	<mat-dialog-actions class='buttons'>
		<button mat-button type='submit' class='continue-button'>
			Continue
		</button>
	</mat-dialog-actions>
</form>