.dialog-content {
	height: 75%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.popup-image {
		height: 80%;
		margin: 0;
		padding: 0;
	}
}

.buttons-container {
	height: 25%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0;
	margin: 0;
	.button, a {
		width: 32%;
		padding: 0;
		margin: 0;
	}
	a .button {
		width: 100%;
		padding: 0;
		margin: 0;
	}
}

.buttons-container * {
	overflow: hidden;
}

.button {
	font-size: 14px !important;
}

.button * {
	padding: 0;
	margin: 0;
}

.continue-button {
	background-color: #fef65b;
}
.error-button {
	background-color: #ff4444;
}

@media (max-height: 650px) { 
	.dialog-content {
		height: 60%;
		.popup-image {
			height: 75%;
		}
	}
	.buttons-container { 
		height: 40%;
	}
}

@media (max-width: 1300px) {
	.button {
		font-size: 12px !important;
	}
}

@media (max-width: 1200px) {
	.button {
		font-size: 11px !important;
	}
}

@media (max-width: 500px) {
	.button {
		font-size: 9px !important;
	}
}

@media (max-width: 400px) {
	.button {
		font-size: 7px !important;
	}
}

@media (max-width: 350px) {
	.button {
		font-size: 6px !important;
	}
}