<!-- <h2 mat-dialog-title [draggable] dragHandle=".mat-dialog-container" dragTarget=".mat-dialog-container" class="subtitle hide">Research Consent!</h2> -->
<mat-dialog-content class="dialog-content" id="dialog-content">
    <div class="subtitle text-center">Research Consent!</div>
    <div class="consent-message mt-3">
        The developers of the <strong>HNP webapp</strong> with support from the <a href="https://heqco.ca/" target="_blank"><strong>Higher Education Quality Council of Ontario</strong></a> along with <a href="https://www.georgebrown.ca/" target="_blank"><strong>George Brown College</strong></a> and <a href="https://www.mcmaster.ca/" target="_blank"><strong>McMaster university</strong></a> are inviting you to help evaluate it as a useful educational tool for health numeracy.
        <br/>
        Your teacher has integrated the HNP webapp into your course materials and you will have access to the application whether you participate or not, thus participation is voluntary. Your teacher will not know whether you will participate or not, and we aim to evaluate the application not the research participants.
        <br/>
        We would like to invite you to take part in one or more of 4 formats in which we will be using to evaluate the app. They are described at length in the letter of informed consent that you need to read. You can have access to it here. Three of them involve compensation to offset time and any costs you incur, and one does not require you to do anything except provide access to data. lease read carefully
        <br/>
        To get more information about the study please email <strong>Taras Gula</strong> at <a href="mailto:tgula@georgebrown.ca">tgula@georgebrown.ca</a> or <strong>Miroslav Lovric</strong> at <a href="mailto:lovric@mcmaster.ca">lovric@mcmaster.ca</a>.
    </div>
    <br/>
    <section class="form-group">
        <mat-checkbox [(ngModel)]="consent.is_consent_read">
            I have read the letter of consent that you have provided and have no questions to ask
        </mat-checkbox>
    </section>
    <div *ngIf="consent.is_consent_read" class="consent-container">
        <div class="consent-subtitle">Please indicate your level of consent below.</div>
        <section>
            <mat-checkbox [checked]="allSelected"
                          (change)="setSelected($event.checked)">
                I choose to participate in all 4 of the elements of the research study
            </mat-checkbox>
        </section>
        <section>
            <mat-checkbox [checked]="noneSelected"
                          (change)="setSelected(!$event.checked)">
                I choose not to participate in any of the 4 elements
            </mat-checkbox>
        </section>
        <section>
            <mat-checkbox [(ngModel)]="manualSelect">
                I would like to choose the elements individually
            </mat-checkbox>
            <ul *ngIf="manualSelect">
                <li>
                    <mat-checkbox [(ngModel)]="consent.is_element1_accepted"
                                  (ngModelChange)="checkSelected()">
                        Element 1: tracking my usage of the HNP webapp
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox [(ngModel)]="consent.is_element2_accepted"
                                  (ngModelChange)="checkSelected()">
                        Element 2: post usage survey
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox [(ngModel)]="consent.is_element3_accepted"
                                  (ngModelChange)="checkSelected()">
                        Element 3: interview
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox [(ngModel)]="consent.is_element4_accepted"
                                  (ngModelChange)="checkSelected()">
                        Element 4: pre and post health numeracy task assessment
                    </mat-checkbox>
                </li>
            </ul>
        </section>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="buttons-container dialog-buttons-container">
    <button mat-button class='button moving-forward-button continue-button'
            type="button" [disabled]="!consent.is_consent_read || (allSelected === null && noneSelected === null && manualSelect === null)" (click)="onSubmit()">
        Submit
    </button>
</mat-dialog-actions>

