<!-- <h2 mat-dialog-title [draggable] dragHandle=".mat-dialog-container" dragTarget=".mat-dialog-container" class="subtitle hide">Research Consent!</h2> -->
<mat-dialog-content class="dialog-content" id="dialog-content">
    <div class="subtitle text-center">Research Consent!</div>
    <div class="consent-message mt-3" [innerHTML]="consentMessage"></div>
    <br/>
    <section class="form-group">
        <mat-checkbox [(ngModel)]="consent.is_consent_read">
            I have read the letter of consent that you have provided and have no questions to ask
        </mat-checkbox>
    </section>
    <div *ngIf="consent.is_consent_read" class="consent-container">
        <div class="consent-subtitle">Please indicate your level of consent below.</div>
        <section>
            <mat-checkbox [checked]="allSelected"
                          (change)="setSelected($event.checked)">
                I choose to participate in all 4 of the elements of the research study
            </mat-checkbox>
        </section>
        <section>
            <mat-checkbox [checked]="noneSelected"
                          (change)="setSelected(!$event.checked)">
                I choose not to participate in any of the 4 elements
            </mat-checkbox>
        </section>
        <section>
            <mat-checkbox [(ngModel)]="manualSelect">
                I would like to choose the elements individually
            </mat-checkbox>
            <ul *ngIf="manualSelect">
                <li>
                    <mat-checkbox [(ngModel)]="consent.is_element1_accepted"
                                  (ngModelChange)="checkSelected()">
                        Element 1: tracking my usage of the HNP webapp
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox [(ngModel)]="consent.is_element2_accepted"
                                  (ngModelChange)="checkSelected()">
                        Element 2: post usage survey
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox [(ngModel)]="consent.is_element3_accepted"
                                  (ngModelChange)="checkSelected()">
                        Element 3: interview
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox [(ngModel)]="consent.is_element4_accepted"
                                  (ngModelChange)="checkSelected()">
                        Element 4: pre and post health numeracy task assessment
                    </mat-checkbox>
                </li>
            </ul>
        </section>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="buttons-container dialog-buttons-container">
    <button mat-button class='button moving-forward-button continue-button'
            type="button" [disabled]="!consent.is_consent_read || (allSelected === null && noneSelected === null && manualSelect === null)" (click)="onSubmit()">
        Submit
    </button>
</mat-dialog-actions>

