<div class="assignments">
    <mat-card class="assignments-content">
        <span class="title">Manage Assignments</span>
        <form novalidate #form="ngForm">
            <div class="table-responsive">
                <table matSort (matSortChange)="sortData($event)" class="table">
                    <thead>
                    <tr>
                        <th scope="col">Icon</th>
                        <th mat-sort-header="name" scope="col">Name</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <input matInput class="filter-item" placeholder="Name"
                                   type="text" name="name" id="name-filter" [(ngModel)]="name" [value]="">
                        </td>
                        <td class="text-right">
                            <button mat-button class="button button-outline button-small" (click)="onAddAssignment()">Create Assignment</button>
                        </td>
                    </tr>
                    <tr *ngFor="let item of assignments | tableFilter: form.value">
                        <th scope="col" style="width: 40px;"><div class="app-img" style="width: 38px; height: 38px;" [style.background-image]="setIcon(item.icon)"></div></th>
                        <td>{{item.name}}</td>
                        <td class="text-right" style="min-width: 160px">
                            <button *ngIf="user.user_id == item.teacher_id"
                                    mat-stroked-button
                                    class="button button-small button-amber"
                                    style="margin-right: 8px;"
                                    routerLink="/share/assignment/{{item.id}}">
                                Send
                            </button>
                            <button mat-stroked-button class="button button-outline button-small" style="margin-right: 8px;" (click)="onCopyAssignment(item)">Copy</button>
                            <button mat-stroked-button class="button button-outline button-small" style="margin-right: 8px;" (click)="onEditAssignment(item)">Edit</button>
                            <button mat-stroked-button class="button button-danger button-small" type="button" (click)="onDeleteAssignment(item.id)">Remove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>

    </mat-card>
</div>
