.assignments {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin: 60px auto 0;
  width: 80vw;
  mat-card {
    margin: 10px;
    padding: 15px;
    min-width: 250px;
    width: calc(100% - 20px);
  }
  mat-card:last-child {
    margin-bottom: 28px;
  }
}

.title {
  display: block;
  text-align: center;
}

.filter-item, .filter-item:focus {
  width: 100%;
  border: none;
  outline: none;
  overflow: visible;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  font-size: 18px !important;
}

@media screen and (max-width: 1100px) {
  .button, button {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 768px) {
  .button, button {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 600px) {
  .assignments {
    width: calc(100% - 20px);
    justify-content: center;
    align-items: center;
  }
  .assignments-content {
    margin-right: 0 !important;
  }
  .button, button {
    font-size: 9px !important;
  }
}
