@import '../../../../colors';

.button {
	margin-bottom: 8px !important;
	padding: 0;
	width: 100px;
	text-decoration: none;
}

.ok-button, .next-button {
	color: #fafafa;
	background-color: $teal !important;
}

.yes-button {
	color: #fafafa;
	background-color: $green !important;
}

.no-button {
	color: #fafafa;
	background-color: $red !important;
}

.not-sure-button, .skip-button {
	background-color: #e6e6fa !important;
	color: $navy !important;
}

.not-sure-button {
	width: 360px;
}